[2015-12-12 19:15] Darktilldawn opened #2 "Issues"
- [ ]  /trapped teleports you to around 297k X

- [ ]  Piston's can be used anywhere in the world even when LimitPistonsToLandClaims: true

- [ ] Fire is unable to be placed in the entire world
Place a netherrack block and try catching it on fire
Fire should be protected inside of claims so other players can't put the fire out.

- [ ] Portals can still be created without trust(SOMETIMES)
Make a ne

[2015-12-12 21:36] gabizou commented on #2
Don't make us download a text file to see the issue.

[2015-12-12 21:37] Darktilldawn commented on #2
Oh my bad hold on

[2015-12-12 21:37] Darktilldawn commented on #2
What is wrong, error log
How to reproduce this event
What the event should really be doing

- Need to add /unstuck command
- Get stuck in someones claim, and it would send a message saying use /unstuck to get out of the claim

- Adding a block to config RequiresContainerTrust for a chest ID 54 doesn't protect (Same for any block ID added to the mod string for Container/Exposive/Access trust)
- Cha

[2015-12-12 21:38] bloodmc commented on #2
Please change each issue to use check boxes so we know which ones are fixed.

[2015-12-12 21:49] Darktilldawn commented on #2
Does that look better? Sorry for the earlier messy looking issues

[2015-12-13 01:41] ryantheleach commented on #2
- [ ] Not quite, you need to use

```- [ ] ```

[2015-12-14 19:17] Darktilldawn opened #3 "Features & Requests"
These are coming from my player base

- [ ] The whole trust rework system we talked about. Players having the individual permissions to allow what untrusted players had access to. Using only /trust and /untrust commands for trust levels and everything inside the claim is protected by default. (I still think we should keep the /permission trust to allow the owner of the claim to give another player

[2016-04-05 15:25] SnowBlitzz opened #14 "Pressure plates and permissions"
Aside from what's already reported, I've found out that pressure plates inside a person's claim can be triggered by a non-owner or non-trusted player by throwing an item on it.

Also I would like to request short descriptions to be placed above a permission node here https://github.com/MinecraftPortCentral/GriefPrevention/blob/master/src/me/ryanhamshire/griefprevention/GPPermissions.java so it is

[2016-04-07 23:31] bloodmc commented on #14
@SnowBlitzz I'll fix the pressure plate bug soon. I'll update the descriptions soon as well =). Keep the tickets coming so GriefPrevention can get a stable release.

Thanks!

[2016-04-08 02:31] bloodmc commented on #14
@SnowBlitzz I cannot reproduce this issue. Are you sure the player doesn't have permissions? Please test with a new player that has bare minimal perms. Also to make sure you are using latest build, please grab this

https://www.dropbox.com/s/e6mprcvnxhstc6g/griefprevention-12.7.1-SpongeTest-B2.jar?dl=0

[2016-04-10 21:17] jsnbrown1989 commented on #3
For the second suggestion above, might I suggest incorporating something similar to lockette's system using signs?

[2016-04-13 08:01] SnowBlitzz commented on #14
To reproduce the issue, let's say there are 2 players. Player A and Player B
Player A claim an area, places a door and a pressure plate inside his claim
Player B steps on pressure plate, nothing happens - Working good
Player B throws an item on the pressure plate, door opens - Shouldn't happen (?)

[2016-04-13 08:04] SnowBlitzz opened #16 "Trust, Adminclaims and Fire"
After a player has been trusted with /gp trust, he/she should be able to build and break inside the claim however they are not able to break and can only place certain blocks (haven't found out why yet)

/gp adminclaims does not work, it asks me to select a corner but when I select an opposite corner it does not register. The only way around this is to claim it yourself then do /gp transferclaim,

[2016-04-13 13:49] bloodmc commented on #16
@SnowBlitzz Please test my latest build as there have been many changes since the B2 build.

https://www.dropbox.com/s/aceg1ir810125pb/griefprevention-12.7.1-SpongeTest-B3.jar?dl=0

You will need to wipe out all GriefPrevention data as I changed configs and how data is generated. In each world folder, just wipe out the GriefPrevenionData folder and in the ./config folder, wipe out the GriefPrevent

[2016-04-13 14:03] SnowBlitzz commented on #16
Will the 'configs and how data is generated' be changed again in the future? Just wondering so we don't have to keep reclaiming land after each update XD

[2016-04-13 15:14] bloodmc commented on #16
@SnowBlitzz I'll let you know if it does. It usually doesn't happen but there were major fixes I had to do yesterday which required moving things around to make everything flow better. Of course, after I release the plugin, any data changes will have a conversion script =).

[2016-04-13 15:28] Wolfizen opened #17 "Putting your shovel away does not remove the client-side marker"
Sponge: 1.8.9-1808-4.1.0-BETA-1265
GP: 12.7.1
Mods: None

Steps to reproduce:

1. Right click a block with the shovel
2. Switch items so that you are no longer holding the shovel
3. The diamond block marker still is visible

This does cancel the selection process, because when you click again elsewhere it restarts. However, the old block stays until you click again with the shovel or the stick.

[2016-04-13 15:55] bloodmc opened #18 "Add support for Dynmap"
Port
https://github.com/webbukkit/Dynmap-GriefPrevention so it works with Sponge version.

[2016-04-13 16:02] Wolfizen opened #19 "Items do not drop within claims"
Sponge: 1.8.9-1808-4.1.0-BETA-1265
GP: 12.7.1
Mods: Thaumcraft 5.2.4

Steps to reproduce:

1. Be inside a claim (any claim, does not matter if it is your own or others)
2. Drop an item, or break a block
3. No item drops appear.

If you drop an item from your inventory, the item disappears.

[2016-04-13 16:10] Wolfizen opened #20 "Various Thaumcraft wand foci bypasses protection"
Sponge: 1.8.9-1808-4.1.0-BETA-1265
GP: 12.7.1
Mods: Thaumcraft 5.2.4

- [x] Equal Trade

1. Equip a wand with the Equal Trade focus
2. Start the conversion process outside someone else's claim
3. As the blocks spread out, blocks inside the claim will still be replaced

It is blocked correctly if the initial click is done inside the claim

- [ ] Nine Hells

1. Equip a wand with the Nine Hells focus

[2016-04-13 16:47] #19 closed

[2016-04-13 19:21] #17 closed

[2016-04-13 20:31] bloodmc commented on #14
I just retested this and it seems to be fixed with my latest fixes.

https://www.dropbox.com/s/vp31g9cwiumj2dz/griefprevention-12.7.1-SpongeTest-B4.jar?dl=0

[2016-04-13 20:31] #14 closed

[2016-04-13 20:41] bloodmc commented on #20
@Wolfizen  Please retest with latest build as there were a few permission bugs that were fixed.

[2016-04-13 21:35] BossBizon opened #22 "BlockBreakEvent problem"
Trusted players can't break blocks.

[2016-04-13 23:29] Wolfizen commented on #20
The bugs involving Equal Trade and Pech's Curse have been fixed. However, the issue with Nine Hells still remains. There is now an exception thrown when the bats explode on the targeted entity: http://pastebin.com/pzDaMXn0

[2016-04-14 01:45] SnowBlitzz commented on #22
Yes I have reported this at ticket #16, they're also unable to place certain types of blocks

[2016-04-14 02:38] bloodmc commented on #22
dupe #16

[2016-04-14 02:38] #22 closed

[2016-04-14 22:13] bloodmc commented on #16
@SnowBlitzz The following commit has trust and untrust support. Keep in mind that it is not the same as Bukkit version so read the commit mesage.

https://github.com/MinecraftPortCentral/GriefPrevention/commit/9f70284075d6d8b964fc669e57d38dee9fc022d9

[2016-04-14 23:32] SnowBlitzz commented on #16
Ahh I see, first little steps to a whole new commands system

* Removed internal permission support in favor of permission plugins such
as PEX.
* Cleaned up the default permission check logic.
What does these two mean by the way?

[2016-04-15 05:49] bloodmc commented on #16
GriefPrevention had a basic permission system that it used in Bukkit version. Since I added support with PEX, I removed the internal system as it is no longer needed.

Please test latest build here for trust/untrust

https://www.dropbox.com/s/pvaohc9wipe409u/griefprevention-12.7.1-SpongeTest-B5.jar?dl=0

To trust a player
'/gp claims trust <playername>'

To untrust
'/gp claims untrust <playername>

[2016-04-15 06:42] SnowBlitzz commented on #16
http://puu.sh/oiNOc/c318f3c375.png
The messages need to be reworked too I guess

[2016-04-15 06:44] SnowBlitzz commented on #16
Both /gp claims trust and /gp claims untrust gave me an error
Unknown command. Try /help for a list of commands
Looks like the commands were not registred, /gp help broken too

[2016-04-15 13:40] bloodmc commented on #16
@SnowBlitzz I'm not having this issue. It sounds like the plugin didn't load. Wipe out ALL GriefPreventionData and try again.

[2016-04-15 20:44] bloodmc commented on #16
Fire spread has been fixed in commit
https://github.com/MinecraftPortCentral/GriefPrevention/commit/624b3f7708fe8b1adc34b514c2c10d645992f2b0

Adminclaims were fixed previously so I'm now closing this issue as everything seems to be resolved.

[2016-04-15 20:44] #16 closed

[2016-04-16 10:32] SnowBlitzz opened #24 "Chat spam prevention not working"
Chat spam prevention not working

[2016-04-17 02:55] SnowBlitzz opened #25 "Suggestion: gp lockdrops"
there's /gp unlockdrops which is very useful but I'd like to suggest adding /gp lockdrops so just in case players would like to lock them again to prevent misthrowing an item and having others pick it up

[2016-04-17 23:56] bloodmc commented on #18
This is nearly done.

Progress screenshot

http://i.imgur.com/tprJSEe.png

[2016-04-18 00:38] bloodmc commented on #2
Closing as this ticket is now outdated due to many changes.

[2016-04-18 00:38] #2 closed

[2016-04-18 16:15] ryantheleach opened #26 "Transfer ownership on MIA owner."
Claims don't expire unless claim is ownerless.

Ownership is transferred to 2nd oldest, active member when the owner disappears.

Optional: Notify members on login on expiration / owner change?

[2016-04-18 17:16] SnowBlitzz opened #27 "Adminclaims not working"
admin claims don't work, instead it becomes the player's claim

[2016-04-18 17:18] SnowBlitzz opened #28 "/gp unlockdrops not working again"
http://puu.sh/omJvk/9f88bc78da.png
/gp unlockdrops is not working again. It says you've unlocked drops after you do the commands but the message that other players cant pick it up still appears(spams it)
When drops are not unlocked yet, it spams both receiver and dropped of the item a lot. The screenshot above is from the receiver.

[2016-04-18 17:19] SnowBlitzz opened #29 "/gp admin transferclaim issue"
./gp admin transferclaim <player> gives error occurred while executing command: null. BUT it actually transfer the claim to the person

[2016-04-18 17:22] SnowBlitzz opened #30 "Fire spread"
Fire spread in the config is set to false (by default)

http://puu.sh/omYIx/5a9c5567b1.jpg fire still spreads. it there was initially just one fire above the wool. it spreads VERY slow, and the spreaded fire blocks(not the main fire) spreads faster than the main

Minecraft's /gamerule doFireTick false disallows fire spread yep, but the fire also does not disappear which I would like it to

[2016-04-19 06:01] ryantheleach commented on #17
Add a timeout maybe? or alert the user that the visualization has faded due to swapping tools?

[2016-04-19 06:04] ryantheleach opened #31 "PermissionDescriptions"
Add PermissionDescriptions for each of the permissions used, to allow pex and other permissions providers to provide default permissions / help text for the description of permissions.

[2016-04-20 08:41] ryantheleach opened #32 "New Video"
Either the video needs replacing, removing, or MCPC GP needs to more closely match the commands with RyanHamshire GP.

Specifically, /abandonclaim.

[2016-04-20 09:02] ryantheleach opened #33 "User Friendly improvement checklist."
This was performed on hunterz test server, Unsure if it's a result of possible permissions missing.

If a case of missing permissions, some system of default permissions should be used, probably using PermissionDescriptions if supported by the PermissionsService.
- [ ] Commands should give helpful messages or prompt, guessing what the player might want next.
  ![image](https://cloud.githubusercont

[2016-04-20 10:39] #32 closed

[2016-04-21 18:49] SnowBlitzz opened #34 "Visual blocks"
Visual blocks only go to solid blocks, not on blocks like water or slabs.
So for example claiming an ocean, you'll only see the visual blocks underneath on the sand.
It used to be on the higest block on the y coordinate corner, water in this case ^

[2016-04-21 19:19] bloodmc commented on #28
I cannot reproduce this issue. Remove all your plugins and test again.

[2016-04-21 19:19] bloodmc commented on #27
@SnowBlitzz is this working now?

[2016-04-21 19:20] bloodmc commented on #33
@ryantheleach I've added original /slash commands from bukkit so this should be more user friendly to the end user. The '/gp' command definitely could use some work.

[2016-04-22 04:27] SnowBlitzz commented on #27
Yes, on the latest version

[2016-04-22 05:20] SnowBlitzz opened #35 "Name, greetings, and farewell, abandoning claim, etc"
- [ ] Greeting and farewell messages do not trigger on warping

- [ ] Greeting becomes farewell messages

- [ ] Abandoning an admin claim does not return a message telling you it was successful or whatever

- [ ] Abandoning a basic claim returns a message that I have to stand in the claim I want to delete or do /gp claims abandonall (It abandons my claim though but the message it returns is wrong)

[2016-04-22 10:43] SnowBlitzz opened #36 "gp claim info on subdivided claim"
gp claim info on subdivided claim returns Error occured while executing command: unique id

[2016-04-22 10:52] SnowBlitzz opened #37 "deathmessages"
[code]

I already did /gamerule showDeathMessages false and it still shows because of gp
Option to disable? also the cooldown works, it won't show another death message if player dies within 60 seconds but it will send a blank line in chat

[2016-04-22 13:13] bloodmc commented on #28
Closing as this is not a GP issue.

[2016-04-22 13:13] #28 closed

[2016-04-22 13:14] #27 closed

[2016-04-22 14:36] ryantheleach commented on #35
What version were you running?

[2016-04-22 22:00] #25 closed

[2016-04-22 22:00] #29 closed

[2016-04-22 22:00] #35 closed

[2016-04-22 22:00] #36 closed

[2016-04-23 02:18] SnowBlitzz commented on #35
It was B8 btw I'll test B9 and see if these problem still occur

[2016-04-23 04:45] SnowBlitzz opened #38 "Claim checking"
If youre trying to place something somewhere you cant place
eg placing a block where someone is standing, or placing sapling on stone
it will tell you if the land is claimed or not like what the stick does. normal?

the config here is default
        # The item used to investigate claims with a right-click.
        investigation-tool="minecraft:stick"

[2016-04-24 02:56] #38 closed

[2016-04-24 04:48] ryantheleach opened #39 "/trapped"
You said on the forums that you saw no point of the /trapped command?

So people visiting / browsing a claim could potentially find their way into a protected area, admin claim, user claim, whatever, and find themselves in a 2x1 hole.

If the players don't have permission to kill themselves, or if death has a large penalty on the server (ban, claims restored, etc) and there is no other method of t

[2016-04-24 05:10] SnowBlitzz commented on #39
Most if not all server have warps or /home

[2016-04-24 05:51] SnowBlitzz opened #40 "Mob spawning"
setting claimflag spawn-any to false, or every other claimflag involving mobs still allow mobs to spawn in spawners, spawneggs (which is okay I guess) and chicken eggs.

Would also like to see a config option to customize what you want to be able to spawn, a blacklist? something like mobBlacklist: ["allMinecraftMobs"] or ["Pig", "Chicken"] which should disallow not just natural spawns but also spa

[2016-04-24 06:08] hsyyid commented on #40
This would probably be best added as another list flag that would filter out specific `EntityType`s from spawning.

[2016-04-24 06:38] ryantheleach commented on #39
I specifically addressed this in the original issue.

[2016-04-24 07:41] bloodmc commented on #39
@ryantheleach ok good point, I'll add it back soon.

[2016-04-24 19:13] SnowBlitzz opened #41 "Negative claim blocks"
A lot of players in the server are experiencing having negative claim blocks
This is a screenshot of one of the many player's claimslist and land claim info
http://prnt.sc/awbxiy
http://prnt.sc/awbyax
The land claim is 49 x 42

Now they do not get claim blocks gradually when online

[2016-04-25 15:28] ghacproductions opened #42 "Converting data from bukkit"
A possibility to convert GriefpreventionData from Bukkit would be awesome!

[2016-04-25 15:32] clienthax commented on #42
pretty low on the list of stuff id say, but should.. be possible,
the problem would come with bukkits non standard yml files

[2016-04-25 15:36] Zartec commented on #42
What about a sql backend?
This would be the way for cross platform.

[2016-04-25 15:40] clienthax commented on #42
sql would be much easier to work with ;)

[2016-04-25 15:40] clienthax commented on #42
could you attach / send me a sql dump from bukkit? clienthax@gmail.com

[2016-04-25 15:46] Zartec commented on #42
We are working on it...
...please wait...

[2016-04-25 17:19] i9hdkill commented on #42
We sent you a mail with the database attached

[2016-04-26 21:57] bloodmc commented on #41
@SnowBlitzz There was a cause tracking bug in recent SpongeForge builds causing claims to get claimed without a player being involved. Please update to latest SpongeForge and let me know if this issue still occurs. If it does, please try to figure out how it happens.

Thanks!

[2016-04-27 03:36] SnowBlitzz commented on #41
The claim blocks do not add up through playtime for everyone, yes everyone. Supposed to get 100 per hour but 0.

[2016-04-29 05:32] #41 closed

[2016-04-29 21:58] i9hdkill opened #43 "Water flows into claims and breaks grass"
Hi,
in 12.7.1, water can flow into claims and break grass (maybe other stuff too)

[2016-04-30 06:21] bloodmc commented on #43
@i9hdkill This is due to a change I made in Sponge. I'll be pushing a fix shortly.

[2016-04-30 06:26] bloodmc commented on #43
@i9hdkill update to SpongeForge 1301 to fix the issue.

[2016-04-30 15:25] SnowBlitzz opened #44 "Stick investigating claims"
Investigating claims now work when clicking far away only, not when touching a block

[2016-04-30 16:51] bloodmc commented on #43
Reopening as it seems I broke this recently. Will fix soon.

[2016-04-30 17:40] i9hdkill commented on #43
Alright, thank you!

[2016-04-30 18:43] bloodmc commented on #44
@SnowBlitzz I cannot reproduce this.

[2016-04-30 19:26] #44 closed

[2016-04-30 19:26] bloodmc commented on #43
@i9hdkill Can you confirm this is fixed in latest build?

[2016-04-30 20:19] i9hdkill commented on #43
Yes it's fixed, thanks. However the block directly near the claimborder is not updated anymore.
For example when you place a water sourceblock 2 blocks away from the border and it flows towrds the claim and you replace the source block with a block, the remaining half flowingwater block stays there.

[2016-04-30 20:43] ghacproductions commented on #43
We made a video to demonstrate it.
Thank you for your work!
https://www.youtube.com/watch?v=GkmXuZfovrI&feature=youtu.be

[2016-04-30 22:23] bloodmc commented on #43
Thanks, I'll keep this open until I fix this issue. It seems the blockstate of the water block still thinks its flowing when stopped by the claim border causing the logic not to run.

[2016-05-01 00:10] #43 closed

[2016-05-01 00:10] bloodmc commented on #43
@i9hdkill @ghacproductions please confirm issue has been fixed.

[2016-05-01 09:16] ghacproductions commented on #43
@bloodmc It's fixed, thank you.

[2016-05-01 09:33] ghacproductions commented on #43
Sadly I found an other issue with water, the water is not disappearing correctly.
Again a video here:
https://www.youtube.com/watch?v=oZ1cFEic1jA&feature=youtu.be

[2016-05-02 23:28] i9hdkill opened #45 "Foxguard integration"
Hi,
from far as I know, worldguard is no longer being developed for sponge so I was looking for an alternative.
We were using both, worldguard and griefprevention before on 1.7.

Now we moved to Foxguard and I was wondering if there is the possibility to check if there is a FoxGuard region before creating a claim and deny claiming if a region is found at that place.
(Like the worldguard integratio

[2016-05-03 02:04] SnowBlitzz opened #46 "Surface explosions"
# Whether players can detonate explosives above sea level.
        #
        surface-explosions=false

Explosions above sea level still happen (tested on extreme hills)

[2016-05-03 20:13] bloodmc commented on #45
@i9hdkill Sure I could add support for this.

[2016-05-03 20:14] bloodmc commented on #46
@SnowBlitzz OK I'll fix this soon.

[2016-05-07 16:33] SnowBlitzz opened #47 "Initial chest claims auto unclaiming"
Initial chest claims auto unclaim after set days in the config even though the player is not inactive for those amount of days

[2016-05-12 03:33] SnowBlitzz opened #48 "Negative claim blocks"
People can make more claims than they should and expand their claims forever, their claim blocks will just be negative

[2016-05-14 16:23] SnowBlitzz opened #49 "Opening other's chests with investigation stick"
A player without the permission of the land claim can open chests and other interactible blocks such as enderchests and crafting tables if they right click it with the GP investigation stick, the one used to see if a land is claimed or not.

Rather a dangerous issue and needs a quick fix asap

[2016-05-15 02:20] #49 closed

[2016-05-16 02:01] SnowBlitzz commented on #47
Bumping this. I think it applies to all kinds of claims, not just initial chest claims

[2016-05-16 02:10] #47 closed

[2016-05-16 14:23] SnowBlitzz opened #50 "deleteclaim and transferclaim not working"
both /deleclaim and /transferclaim commands (there might be more that I don't know of) give "Error occurred while executing command: null" but if i keep walking around the claim and spam the command it will work suddenly

[2016-05-16 17:37] SnowBlitzz opened #51 "[Important] NoDropsAllowed"
When in someone else's claim that you don't have trust to, dropping an item will make it disappear and gives you the short message "NoDropsAllowed" in color gold.
        # Allow/deny item drops.
        #
        item-drop=true

Although not related, but just in case it is, this is the config for unlockdrops
        # Whether player item drops are locked.
        #
        lock-item-drops=false

[2016-05-17 10:43] SnowBlitzz opened #52 "Last claim active days showing wrong days"
http://puu.sh/oV1Rx/9260ff287f.png

He was just online a few hours ago so it shouldn't have been 7 days.

[2016-05-18 15:23] i9hdkill commented on #48
same issue

[2016-05-18 15:25] i9hdkill opened #53 "disabling griefprevention on specific worlds doesn't work"
Using
claims-mode=0
config-enabled=true
in a Griefprevention/worlds/overworld/mine/world.conf
Using Griefprevention built from source today.

You can still claim areas.

[2016-05-18 15:33] SnowBlitzz commented on #48
I'm unable to reproduce it however. It just seems to only work for certain players which is weird. I am still unsure

[2016-05-18 20:23] bloodmc commented on #53
@i9hdkill Did you restart the server after making the change? I haven't added a proper reload yet.

[2016-05-18 20:31] #53 closed

[2016-05-18 20:48] bloodmc commented on #52
@SnowBlitzz Thanks, i'll fix this sometime this week.

[2016-05-18 21:07] i9hdkill commented on #53
Sry, I just looked for the setting that I knew from bukkit. Didn't kknow that there is another one.

Claims are disabled now, but I think some of your functions are tied to your own, now removed setting.
http://pastebin.com/ARcP8Wwy
Getting this errors only when I am on a world with claims-mode=0

[2016-05-18 21:20] i9hdkill opened #54 "coal and pixelmon ores are dropping xp even if you can't break them"
Using Forge 1902
Griefprevention from today
SpongeForge 1890 Build 1330

Grab a pickaxe, disable /IgnoreClaims and try to break coal-ore. (On an area where you don't have permission to break blocks).
You will get xp. This way you can get unlimited xp. This xp will stay even after a relogg.

Similiar issue with mod Items like Pokechests. Players can infitely click on them, get items out of it and t

[2016-05-18 23:46] bloodmc commented on #53
@i9hdkill Please test latest commit and let me know if it fixes this issue.

[2016-05-18 23:53] i9hdkill commented on #53
Thanks, works!

[2016-05-19 00:03] bloodmc commented on #54
@i9hdkill I cannot reproduce this. Remove all plugins except GriefPrevention and see if it still occurs.

[2016-05-19 00:42] #52 closed

[2016-05-19 00:44] bloodmc commented on #48
@SnowBlitzz @i9hdkill I will need a test world with GP and player data that can reproduce this issue. Zip up a test case for me so I can resolve the issue.

[2016-05-19 01:18] i9hdkill commented on #54
Reproduced this with a fresh spongeForge setup with just griefprevention and claims set to mode "2"
You need to be in survival gamemode and a pickaxe.

[2016-05-19 01:34] #50 closed

[2016-05-19 01:35] bloodmc commented on #50
@SnowBlitzz I wasn't able to find any issues with /deleteclaim but I did fix /transferclaim.

[2016-05-19 01:39] bloodmc commented on #54
OK this will involve a bit of work now that I see what mode 2 should be doing. I'll have a fix soon.

[2016-05-19 03:00] SnowBlitzz commented on #50
I was just standing on another player's claim and did /deleteclaim, for some reason sometimes it works and sometimes it doesn't. I've had cases wherein another player claimed a part of their house so they requested me to remove it, and sometimes I get "Error occurred while executing command: null" and othertimes it runs successfully. Strange behavior

[2016-05-19 03:03] SnowBlitzz commented on #54
What do you mean by mode 2 btw o.o

[2016-05-20 01:26] bloodmc commented on #54
@i9hdkill Turns out this was a SpongeForge bug which I just fixed. However I may need to fine tune mode 2 checks so I'll keep this open for a bit.

[2016-05-20 13:55] i9hdkill opened #55 "java.util.NoSuchElementException: No value present when interacting with Pixelmon"
When rightclicking a pokemon, it gives an exception.
World with claimmode 2
Pixelmon 4.2.5
Latest griefprevention built from source
http://pastebin.com/Ai88DJ7W

[2016-05-20 14:53] i9hdkill opened #56 "/claimlist shows the amount of free claimblocks, but not the list of claims"
See title.
Usually there should be a list with your own claims with coordinates and used claimblocks per claim.

[2016-05-20 19:13] bloodmc commented on #55
@i9hdkill Should entity interaction only be allowed in claims as well?

[2016-05-20 19:21] bloodmc commented on #55
Also, your stack trace doesn't line up with latest source. In the stack trace, it complains about an optional on line 1228 but line 1228 in master is the following

https://github.com/MinecraftPortCentral/GriefPrevention/blob/master/src/me/ryanhamshire/griefprevention/event/PlayerEventHandler.java#L1228

Please rebuild your source (wipe out build folder) and test again.

[2016-05-20 19:43] i9hdkill commented on #55
Yeah, blocks are enough. Pixelmon/entities should be accessible.
Thanks will try that

[2016-05-20 19:49] i9hdkill commented on #55
@bloodmc Sry about that. Now it's definetely a fresh build:
http://pastebin.com/jqgdQutC

[2016-05-20 20:06] i9hdkill commented on #55
Just found this:
http://pixelmonmod.com/tracker.php?p=2&t=8498
Error when a pixelmon spawns. I think it's not a bug in griefprevention.

[2016-05-20 21:36] i9hdkill commented on #54
Thanks, the latest sponge build fixed the dropping exp issue!
Though there are still some issues with mode 2.
Mode 2 doesn't protect chests right now, which is good in my opinion..
However this leads to problems with modded chests like pixelmon lootchests.
The cooldown isn't triggered and the chest does not diseappear.
There are different pokeloot chest modes.
Mode 1: You are getting an item and t

[2016-05-21 00:24] i9hdkill opened #57 "Could not pass ServerChatEvent //at me.ryanhamshire.griefprevention.DataStore.getPlayerData"
We are using a custom chat plugin.
Sometimes when chatting, we are getting these errors:
http://pastebin.com/EnXEuW5A

and this seems to be random: (Not sure if it's related)
http://pastebin.com/G9zrpEcK
Might be something with delivering claimblocks, but it fails?.

Btw: Thanks for your hard work on Sponge and of course Griefprevention!

[2016-05-21 05:13] SnowBlitzz commented on #56
Yes, this is another strange behavior I've been getting similar to /deleteclaim, sometimes it works and sometimes it doesn't.

Try doing /claimlist on random times. Sometimes you'll see it will list all your claims and sometimes it will just show your amount of blocks. Really odd behavior

[2016-05-22 11:29] SnowBlitzz opened #58 "Exploitable Resizing claim bug"
When resizing a claim, it says the claim block got reduced, but when you relog, the claim blocks will go back to when you haven't resize at all but the claim IS resized.

Steps to reproduce. Example you have 200 blocks, just an example
Claim a land (10x10; blocks left after = 100)
Use shovel to expand it (example 2 rows so claim becomes 10x12; blocks left after = 80)
-It will say claim resized and

[2016-05-23 13:55] bloodmc commented on #57
@i9hdkill Please send me your skype info when you get a chance.

[2016-05-23 13:57] bloodmc commented on #56
@i9hdkill @SnowBlitzz This will be fixed after I finish up teleport/portal support in Sponge so I can generate claimlist properly.

[2016-05-23 13:58] i9hdkill commented on #57
jonnni239

[2016-05-23 14:40] i9hdkill opened #59 "players can get items out of item frames in an Admin claim with AccessTrust public"
Create an admin claim by toggling the shovel with /AdminClaims
Place an item frame with a normal minecraft block in it. Users can use a rod to get it out.
Use /AccessTrust public
Expected: Users can only user levers, button.
Players can hit itemframes from the wall(but cannot place them)

[2016-05-24 13:55] SnowBlitzz opened #60 "Players losing claim"
I feel like the last time you've fixed it there's something missed. Some players (who are active) lost their claims recently. I'm using B17 which this is supposed to be fixed.

Auto chest unclaim days is default 7
Claim inactivity expiration I've set to 60 days

I thought it would follow the 60 days

[2016-05-25 04:43] SnowBlitzz opened #61 "[Important] Auto Nature restore can sometimes restore inside a claim"
I've been getting several reports now, usually thinking it's just a grief ,or a rollback when a crash happened but no. These were auto nature restore caused after all. It was a perfect chunk that got restored as if it was never touched. The strange this is this never happened to any adminclaim

I can't test if this actually works since I'd have to keep watch and wait for more reports.
(Also /rn an

[2016-05-25 15:27] bloodmc commented on #60
@SnowBlitzz You need to paste your entire world config.

[2016-05-25 16:09] SnowBlitzz commented on #60
http://pastebin.com/Nx8k2n8V

Just in case

[2016-05-30 05:43] SnowBlitzz commented on #51
Edited in the details

[2016-05-30 12:26] SnowBlitzz opened #62 "Some error on startup (?)"
http://pastebin.com/1bVdwnig

[2016-05-31 19:59] bloodmc commented on #62
You need to post the complete log.

[2016-05-31 20:25] bloodmc commented on #60
@SnowBlitzz I don't see any issues with the code I have. Did GriefPrevention log a message when this claim disappeared? Whenever the cleanup task runs, a message is always logged.

[2016-06-01 01:16] SnowBlitzz commented on #62
I'll see if i can catch it next time it restarts

[2016-06-01 01:16] SnowBlitzz commented on #60
Hmm haven't heard any of this lately. I believe it is fixed and that my issue of world not saving properly is causing this

[2016-06-02 16:54] bloodmc commented on #60
OK closing this. Create another ticket if it occurs and make sure to include log.

[2016-06-02 16:54] #60 closed

[2016-06-02 17:03] #57 closed

[2016-06-02 17:13] #55 closed

[2016-06-07 21:41] #48 closed

[2016-06-07 21:41] #51 closed

[2016-06-07 21:41] #56 closed

[2016-06-07 21:41] #58 closed

[2016-06-07 21:41] #59 closed

[2016-06-07 21:41] #62 closed

[2016-06-08 02:55] #61 closed

[2016-06-09 02:48] KhaozFrost opened #63 "Adminclaims bug negative count balance"
So using /adminclaim to protect the spawn i noticed that it gives the claim to the player but deducts from the claimblocks. went from 1000claimblocks to -600k after just claiming the spawn from bedrock up

believe adminclaims were meant to not count toward claimblocks and the claim itself was owned by ''administrators'' rather then the person who made the claim.

[2016-06-09 03:08] IBGnova opened #64 "Viewing Claims While Looking At Water."
Hello,
There seems to be an issue with getting claim info using the stick while looking at water. This isn't a huge deal I just thought I would notify you.

[2016-06-09 03:57] IBGnova opened #65 "Claims not auto claiming."
It seems as though claims are not auto claiming, they only seems to go down 5-6 blocks from the starting selection regardless of if the player builds/digs under that main selection.

[2016-06-09 08:23] SnowBlitzz opened #66 "Item drops disappear"
On a claim where you have container trust = 1. Q drop works fine. 2. drag drop works fine. 3. drag and esc works fine.

On a claim where you don't have container trust = 1. Q drop works fine. 2. drag drop makes item disappear. 3. drag and esc makes item disappear

all players have the claimflag perm for item-drop
using Spongeforge 1421 and GP B21

[2016-06-09 14:10] IBGnova opened #67 "Separate Command Not Working."
Hello,
It seems that the /separate command is broken. When you use the command it will tell you "These players are now ignoring each other", but sadly that's not the case once I ran the command the players continued to be able to talk to one another.

[2016-06-10 00:47] bloodmc commented on #65
@IBGnova OK i just realized that in order to extend the claim downwards, you have to place a block under the claim.

[2016-06-10 02:07] #67 closed

[2016-06-10 02:07] bloodmc commented on #67
Make sure to delete your bannedWords file in config/GriefPrevention so it generates the defaults correctly.

[2016-06-10 05:04] bloodmc commented on #20
Fixed in SpongeCommon commit
https://github.com/SpongePowered/SpongeCommon/commit/8eca553ee8592c67a390d351dbf90306c87b92dc

[2016-06-10 05:04] #20 closed

[2016-06-10 05:05] #66 closed

[2016-06-10 14:01] #63 closed

[2016-06-10 17:42] SnowBlitzz opened #68 "/delete claim error"
http://puu.sh/pnVCW/d858351bf1.jpg

[2016-06-11 10:47] SnowBlitzz opened #69 "annoying givepet o.o"
hmm ok so pixelmon chatting npcs (placed by me, or anyone) inside and outside claims can't be accessed anymore since it tells the player I need to /givepet to them.

right clicking a player also tells them they need to /givepet but this doesn't really matter much than the first one.

[2016-06-11 14:10] ghacproductions commented on #68
Have you checked the log for errors?

[2016-06-11 15:13] SnowBlitzz commented on #68
Nothing on console

[2016-06-14 13:19] Zachincool opened #70 "Feature Request - Cap on all claim blocks"
Hello.
I am requesting a feature for your plugin.
A global cap on all claim blocks for all players. Please note - this is not the "max-accrued-blocks" option in the config. You can bypass that if you purchase blocks or admins give you bonus blocks. I am talking about a full cap that can not be bypassed no matter what. Currently, it is possible for players to have an infinite amount of claim blocks

[2016-06-22 04:28] JavaProphet opened #71 "ComputerCraft Turtle Dupe Bug"
The ComputerCraft guys said it isn't their fault. If you have a turtle in a protected zone, and it breaks a block, it gets the drop without breaking the block.
We are using ComputerCraft v1.79, Forge 11.15.1.1890, Sponge spongeforge-1.8.9-1890-4.2.0-BETA-1471, and GriefProtection 1.8.9-0.1-4.

[2016-06-22 18:13] bloodmc commented on #71
@JavaProphet They are correct, i'll look into this after I finish next build.

[2016-06-22 22:24] inklit commented on #71
Can confirm this is a bug. Also has serious issues with placing blocks, and moving inside claims.
Passing claim borders does not work unless it is leaving the claim.

OpenComputers has a very similar problem but it duplicates the entire Robot when it tries to move into a claim.

[2016-06-24 00:12] inklit opened #72 "Subdivisions lose all access when the server restarts"
When my server restarts, subdivision claims lose all of their access, including from the creator themselves.

The creator must abandon the toplevel claim and then redo the subdivisions to fix it.

[2016-06-24 14:26] bloodmc commented on #71
After looking into the issue, the problem lies in Sponge. The turtle calls isBlockProtected which is currently not tracked by sponge. Open a ticket in SpongeCommon so we can fix it there.

[2016-06-24 14:26] #71 closed

[2016-06-25 16:58] #65 closed

[2016-06-27 00:50] bloodmc opened #73 "Improve claim visuals"
This is an open ticket to discuss how we can improve claim visuals.

First off, claims are cuboids and the area is persisted by storing the location of the lesser/greater corner of the cuboid. Players are given the ability to use an investigation tool to view their claim area.

Here is an example showing how a visual looks in a 30x30 block claim
http://i.imgur.com/gV0BwHv.jpg

As it stands now, vi

[2016-06-27 03:43] Zidane commented on #73
Here is a thought @bloodmc

Maybe WorldBorder could be utilized? So if you right click with the shovel, you are shown a WorldBorder that shows your claim. You could cancel the damage part of it and only show it for that player. Would be a good way to outline the claim well.

[2016-06-27 11:57] ryantheleach commented on #73
If world borders don't appear to be feasible, you could trace a line perpendicular to the closest wall of the claim, and render some particles at the players eye height.

[2016-06-27 20:50] inklit opened #74 "Liquid is placable in claims"
https://www.youtube.com/watch?v=KLxuhlUbiaU
It seems that when the block isn't highlighted, you are able to place buckets in claims.
Not really easy to explain it, so here is a video.
The liquid is able to be placed in claims.

This has been used to grief several claims on my server, and is quite easy to do.
I consider this a "critical bug".

[2016-06-27 20:58] inklit opened #75 "Containertrust allows people to place blocks"
/containertrust allows players to place blocks, although they are unable to destroy them.

Not related to #74

[2016-06-28 06:26] bloodmc commented on #72
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #72 closed

[2016-06-28 06:26] bloodmc commented on #70
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #70 closed

[2016-06-28 06:26] bloodmc commented on #69
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #69 closed

[2016-06-28 06:26] bloodmc commented on #68
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #68 closed

[2016-06-28 06:26] bloodmc commented on #64
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #64 closed

[2016-06-28 06:26] bloodmc commented on #46
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #46 closed

[2016-06-28 06:26] bloodmc commented on #40
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #40 closed

[2016-06-28 06:26] bloodmc commented on #34
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #34 closed

[2016-06-28 06:26] bloodmc commented on #30
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:26] #30 closed

[2016-06-28 06:28] bloodmc commented on #54
This issue is now moot as the newest build adds a Wilderness claim to manage flags in.

commit for reference
https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 06:28] #54 closed

[2016-06-28 13:11] bloodmc commented on #75
@inklit Is this still an issue in latest build?

[2016-06-28 13:12] bloodmc commented on #74
@inklit Is this resolved with latest build?

[2016-06-28 13:12] bloodmc commented on #45
@i9hdkill Latest build provides a brand new flag system which is better than Worldguard's.

[2016-06-28 13:13] bloodmc commented on #45
Oops, hit close by accident. Leaving this ticket open until I can add support for foxguard.

[2016-06-28 13:14] bloodmc commented on #3
Fixed in

https://github.com/MinecraftPortCentral/GriefPrevention/commit/624fa61e165e903768e5288e613207dad28451be

[2016-06-28 13:14] #3 closed

[2016-06-28 13:26] i9hdkill commented on #45
Great, it's likely that we don't need Foxguard anymore with these GP changes. We will see if we pick up developing and building our server.

[2016-06-28 21:21] xChristopher210 opened #76 "False Portal Use Message"
My players keep getting spammed by a message thats saying they cant use a portal in my claim even though that are standing around. They are not going into a portal at all.

![36c0ddeee3276ae57af20ce1a179c57f3d882cdba88d36dab7 pimgpsh_thumbnail_win_distr](https://cloud.githubusercontent.com/assets/13145453/16432774/4ac8c9d4-3d4c-11e6-8032-1ed055fe5178.jpg)

Running:
SpongeForge Version: 1508 (API 4

[2016-06-28 21:27] xChristopher210 opened #77 "Disabling PvP"
Trying to disable PvP in multiple ways but it doesn't work at all. People still beat each other rather then them not being able to do it at all which i intend.

I'm doing the command:
`/cf interact-entity-primary minecraft:player false`
(Since PvP flag is not working yet)

![44d684ce1086f214ccfd499a30c16172f0cee34414bdc38af4 tfile_urlpv](https://cloud.githubusercontent.com/assets/13145453/16432856

[2016-06-29 00:21] inklit opened #78 "The last build to work on Forge 1890 and Sponge 1509 is build 4."
The last build to work on Forge 1890 and Sponge 1509-1890 is build 4.

Any newer builds and GriefPrevention either fails to load completely, or commands work but there is no claims and the shovel does not work at all so new claims are unable to be created.

I will setup a testing environment to do more experiments to see if I can figure out why this happens, or at least find some log record that s

[2016-06-29 00:21] inklit commented on #75
See issue #78

[2016-06-29 00:21] inklit commented on #74
See issue #78

[2016-06-29 03:07] bloodmc commented on #78
@inklit You need to paste the full server log. I'm running latest builds perfectly fine. Make sure you have PermissionsEx installed.

[2016-06-29 03:09] inklit commented on #78
That is probably the issue, we are using PermissionManager instead.

Is there any chance you could make it compatible with PermissionManager as well?

[2016-06-29 03:20] bloodmc commented on #78
@inklit paste the full server log.

[2016-06-29 03:22] inklit commented on #78
Okay, let me mirror my server real quick so I don't have to do this live.

[2016-06-29 03:31] inklit commented on #78
http://javaprophet.com/fml-server-latest1.log

[2016-06-29 04:04] bloodmc commented on #77
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/c69eb480089c369670a4f752ddc9ccc0b436ea6f

[2016-06-29 04:04] #77 closed

[2016-06-29 04:04] bloodmc commented on #76
Fixed in commit
https://github.com/MinecraftPortCentral/GriefPrevention/commit/c69eb480089c369670a4f752ddc9ccc0b436ea6f

[2016-06-29 04:07] bloodmc commented on #78
OK so this is the reason why I require PEX since it has a default user called "default" which essentially allows me to set permissions for ALL users.

https://github.com/MinecraftPortCentral/GriefPrevention/blob/6b8c08c19f5806299fc70105db3d15af7821ac9d/src/me/ryanhamshire/griefprevention/GriefPrevention.java#L289

PermissionsManager would have to support this as well for GP to work.

@zml2008 Can

[2016-06-29 04:42] SnowBlitzz commented on #75
This is not an issue on my server running latest SF and GP

[2016-06-29 04:46] SnowBlitzz commented on #74
I'm not having this issue on GP B10 and SF1509, however, the 'no permission to place water' message is a bit off.. http://prnt.sc/bmfiwm

[2016-06-29 04:51] bloodmc commented on #75
@SnowBlitzz thanks, closing then.

[2016-06-29 04:51] #75 closed

[2016-06-29 04:51] bloodmc commented on #74
@SnowBlitzz should be fixed in B10.

[2016-06-29 04:51] #74 closed

[2016-06-29 07:07] inklit commented on #78
I've tested with PermissionsEx and it does work. This issue can be closed unless you wish to fix keep it open until the permission system issue is resolved.

[2016-06-29 07:10] zml2008 commented on #78
Well in API 5 there are new methods added to PermissionService and SubjectCollection that return the appropriate defaults Subject, which would replace that line. PermissionManager would then implement those subjects. However, PM also fails to fully implement contexts and custom subject types, which have been a core part of the permissions API since the beginning, so GP would still not work.

tl;dr

[2016-06-29 08:02] SnowBlitzz commented on #74
You mean B11? since I was on B10 with that screenshot.

[2016-06-29 12:24] bloodmc commented on #78
@zml2008 Thanks for the information!

@inklit As you can see from zml's response, PermissionManager does not implement contexts which GriefPrevention makes use of fully. You will have to switch to PEX if you want to use GriefPrevention. If PermissionManager decides to implement contexts in the future and GP has issues, I'll look at it then but as of now it doesn't so closing ticket.

[2016-06-29 12:24] #78 closed

[2016-06-29 19:12] inklit opened #79 "Permission 'griefprevention.claim.command.trust.remove' is wrong"
Using GriefPrevention (build 8), PermissionsEx, Forge 1890, and Sponge 1509.

Not sure if this was changed or not, but the actual permission node is 'griefprevention.claim.trust.command.remove' according to PermissionsEx debug mode, which is not the same one that shows in https://github.com/MinecraftPortCentral/GriefPrevention/blob/master/src/me/ryanhamshire/griefprevention/GPPermissions.java

I t

[2016-06-29 19:15] bloodmc commented on #79
@inklit This was already fixed, read the commits or changelog. Use Build 11.

[2016-06-29 19:15] #79 closed

[2016-06-29 23:40] xChristopher210 opened #80 "Spam Filter Not Detecting IPs"
I recently had a person come on my server and advertised. However GP did not pick up the IP and did not censor the IP. The person did not do anything to work his/her way around to make the ip not be censored, he did infact paste the IP in my chat perfectly without any workarounds make to it.

This is the exact message of the player that constantly spammed this message over and over until GP kicked

[2016-06-30 11:00] SnowBlitzz opened #81 "Permission file"
When a claim that has a flag set is abandoned/deleted, the pex file will still have its uuid and settings saved.

[2016-06-30 11:00] SnowBlitzz opened #82 "Piston timeout"
Piston moving pistons can timeout a server inside a claim

[2016-06-30 17:05] inklit opened #83 "Players do not take fall damage"
Admins can take fall damage, but players can't.
This happens in all claims, including the wilderness.

Using build 11.

[2016-06-30 18:06] IBGnova opened #84 "Adding a new flag."
Hello,
I would like to request a flag. This flag would be something like item-drop-on-death or something of the sort, it would be a flag that would allow items to drop when a player dies even if the gamerule keepInventory is on. This flag would be used for servers that want to have a peaceful world where their items don't drop, but that also want to have a pvp arena where players can fight each ot

[2016-06-30 18:50] bloodmc commented on #82
@SnowBlitzz you need to provide the crash report and/or server logs.

[2016-07-01 04:20] SnowBlitzz commented on #80
Don't think it had an IP filter before but would be nice to have.

[2016-07-01 04:21] SnowBlitzz commented on #84
there's already something like this in B11's config, though I don't think it bypasses gamerule keepInventory.

[2016-07-01 04:25] SnowBlitzz commented on #83
My players could take damage. In fact a lot has died from falling lately.

[2016-07-01 05:23] inklit commented on #83
It seems players can only take fall damage inside of claims that they are trusted in.

[2016-07-01 06:10] SnowBlitzz commented on #83
Hmmm yeah. ^

[2016-07-01 07:24] inklit opened #85 "Arrows break item frames"
If you shoot an arrow at a protected Item frame, it will break.

Setting projectile-impact-block and projectile-impact-entity does not seem to have any effects.

[2016-07-01 07:34] SnowBlitzz commented on #82
I don't think there's anything on the server logs. When the lever is flicked, everyone gets timedout and nobody can join the server until it is restarted. Blacklisted pistons for now and will start testing on a test server as soon as I can. I'll update you with more info soon.

[2016-07-02 03:36] SnowBlitzz opened #86 "Bypassing gamerule showDeathMessages"
When I have GP on, even with /gamerule showDeathMessages off the death messages will still appear but when I don't have it, it works fine.

        # Cooldown period for death messages (per player) in seconds.
        death-message-cooldown=0
        # Whether or not to monitor for spam.
        enable-spam-monitor=false

This is in the global config. enable-spam-monitor should follow everything u

[2016-07-02 06:58] ryantheleach commented on #80
ALso they didn't post an "IP" they posted a url. unless you censored everything that looked like a link you wouldn't be able to nicely automate this.

[2016-07-02 07:39] #76 closed

[2016-07-02 07:39] #83 closed

[2016-07-02 07:39] #85 closed

[2016-07-02 07:39] #86 closed

[2016-07-02 08:42] inklit commented on #85
This issue was not fixed in the latest build (12).

[2016-07-02 08:47] inklit opened #87 "Arrows break item frames"
Reopening of #85 as it does not appear to have been fixed in the latest build (12).

[2016-07-02 09:05] IBGnova commented on #84
Yeah I am trying to only set item drops on death for a specific area not the full map.

[2016-07-02 12:26] bloodmc commented on #85
Make sure you set projectile-impact-entity to false. I just retested and it works as expected.

[2016-07-02 14:13] SnowBlitzz commented on #86
death messages still showed with spam monitoring off, B12

[2016-07-02 14:21] bloodmc commented on #87
@inklit how are you testing? Are you attacking a claim you own?

[2016-07-02 15:10] SnowBlitzz commented on #82
Yep just tested this twice. Nothing shows up on the server console. The server doesn't really 'crash' so there's no crash log either. It just kicks me out with the message "Timed out" and whenever I try to join back I get the same message (so nobody can join, but the server still displays x amount of people online when there are none) until I restart the server.

[2016-07-02 16:56] inklit commented on #87
No, I'm testing by using standing in an admin claim, and then shooting an arrow at an item frame inside of a claim directly perpendicular of the claim I'm standing in.

What is the command to set projectile-impact-entity to false for all stuff?
It is missing a target value, though I'm not neccesarily sure as to what the target should be.

[2016-07-02 18:30] bloodmc commented on #87
It should be 'any'

[2016-07-02 18:39] inklit commented on #87
Thanks, this works.

[2016-07-02 18:39] #87 closed

[2016-07-02 21:43] #81 closed

[2016-07-02 23:54] SnowBlitzz commented on #82
[2016-07-02-1.log.gz](https://github.com/MinecraftPortCentral/GriefPrevention/files/344791/2016-07-02-1.log.gz)
This is the log for when I tested the item frames with someone. At the very end of the log where pioavenger leaves, I flicked the lever of the contraption. That's all in the log btw nothing shows after...

[2016-07-02 23:59] bloodmc commented on #82
@SnowBlitzz That is not the log I need. You need to send me the FML server log which can be found within the logs folder.

[2016-07-03 00:03] SnowBlitzz commented on #82
For some reason I couldn't upload the zip or rar here so uhhh, here https://www.dropbox.com/s/atesib1gfmlp6kt/FMLlogs.rar?dl=0

[2016-07-04 03:43] inklit opened #89 "You can make baby wolves stand/sit in claims"
You can make baby wolves stand/sit in claims, but not grown wolves.

[2016-07-04 09:29] cartman-2000 opened #90 "[1.10 branch] Server crash when something is burning."
The server can crash if you burn down a tree with this error:
[code]

After this the server will go into an infinite loop and crash.
Crash log:
https://www.dropbox.com/s/0l1ysftkubng7qs/crash-2016-07-04_02.10.23-server.txt?dl=0

[2016-07-04 13:48] bloodmc commented on #90
Sponge bug.

[2016-07-04 15:23] inklit commented on #82
I experience a similar bug with complex piston machines on my server, although it leaves piston heads behind with no piston base. The piston heads are very hard for players to remove themselves.

[2016-07-04 16:00] bloodmc commented on #90
@gabizou ^

[2016-07-04 18:54] inklit opened #91 "Right clicking on non-hostile mobs inside claims returns "null""
In chat, it shows a red "null" when you right click on non-hostile mobs inside of claims.
This only happens if you are trusted in the claim, and you are not the owner of the claim.

No errors in the console.

[2016-07-06 01:24] Darktilldawn opened #92 "Adjusting Admin Claims"
While having the proper permissions to edit/adjust admin claims.
When you create an admin claim using /adminclaims.
Switch back to basic mode, then use your shovel to adjust the size of the adminclaim.
Whether you have the amount of claim blocks available or not, it will convert the admin claim into a basic claim registered under your name.

[2016-07-06 02:15] cartman-2000 opened #93 "[1.10 branch] Infinite fire spread."
The plugin doesn't block fire from spreading, and the fire that does spread doesn't decay at all, so if something in forest catches fire, the whole forest can potentially burn.

This fire was started by a thunderstorm on the server.  The wilderness flags for fire-spread are false here.
https://www.dropbox.com/s/9wzag06vlz4et29/Screenshot%202016-07-05%2017.30.27.png?dl=0

 [19:17:10] [Server thread

[2016-07-06 20:14] #82 closed

[2016-07-07 05:22] cartman-2000 opened #94 "[1.10 branch] Config issue when setting claim name and/or farewell/greeting messages."
You get an exception in the logs when the config file loads for the claim when one of these things are set in the claim data file. And the Claim files that get the error won't load on server start anymore.

The server is running on windows 10 with Java1.8.0_91 64bit:
[22:23:48] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-05d0adc
    SpongeForge: 1.10.2-200

[2016-07-07 06:31] bloodmc commented on #91
I'm not able to reproduce this issue with B20. Please state the EXACT entity you are trying to interact with as well as the type of trust you gave to other player.

[2016-07-07 06:38] inklit commented on #91
Sheep and cows, interacting with a block in the hand.
Full trust.

[2016-07-07 07:42] #92 closed

[2016-07-07 15:07] Bammerbom opened #95 "Add a way to deny clicking a specific item/enchantment"
Blood suggested the name inventory-click

[2016-07-07 15:16] ryantheleach commented on #95
Whatever flag this is would probably have to cover pickup as well. otherwise someone could get it dispensed to them.

[2016-07-07 15:17] Bammerbom commented on #95
Maybe a seperate flag for that, for more customizability

[2016-07-07 19:50] cartman-2000 commented on #82
This also fixes a block duplication bug with falling blocks.

[2016-07-07 20:10] bloodmc commented on #90
This was resolved in Sponge.

[2016-07-07 20:10] #90 closed

[2016-07-07 22:01] inklit commented on #82
It also fixes a duplication glitch with ComputerCraft turtles (although now they can just plow through claims instead of sitting there duplicating blocks)

[2016-07-07 22:51] inklit opened #96 "No cactus damage"
There is no cactus damage in claims you are not trusted in, as well as the wilderness.

[2016-07-08 08:54] cartman-2000 commented on #93
The past few updates to sponge and this mod have fixed the infinite spread of the fire, but it would appear that the flag for fire spread is still being ignored when it's set to false on the wilderness claim.

[2016-07-08 08:58] cartman-2000 commented on #96
This is somewhat buggy for me, sometimes it can take 2-3 seconds of touching one before it starts to damage you, and other times there's no issue with it damaging you.

[2016-07-09 01:08] #96 closed

[2016-07-09 01:08] bloodmc commented on #96
Simply add an override for 'collide-block minecraft:cactus' and set to true to force collisions on it.

[2016-07-09 03:28] SnowBlitzz opened #97 "Pixelmon(maybe other entities too) makes itemframes/paintings drop when colliding"
When you try to push a pixelmon into the wall where the itemframes/paintings are, the item frames will drop regardless if it is claimed or not. Disabling all projectile, collide and entity related flags does not fix this.

[2016-07-09 03:30] SnowBlitzz opened #98 "[1.8.9] Infinite cake food"
When eating a cake in another's claim area, you get the hunger back but the cake doesn't disappear. This is similar to an issue to Pixlemon's pokeloot wherein when you try to get the loot, it gives you to item, but the loot remains there for infinite usage.

[2016-07-09 03:55] FiveEYZ opened #99 "odd liquid behavior"
~~for some reason players in survival mode are unable to use water/lava bucket in wilderness or~~ ~~claim~~
~~in creative however place can~~
this also happen whitout gp

griefprevention-1.10.2-1.0-0
spongeforge-1.10.2-2002-5.0.0-BETA-1550

removing the source block makes the liquid behave funky
![liquids](http://i.imgur.com/oHcYWOC.png)
relogging or restart the server wont help

also tested on a

[2016-07-09 04:45] inklit commented on #99
I have this same issue, about the source block behaving funky.
My players are able to place liquids in survival with no problem, though.

[2016-07-11 04:18] bloodmc commented on #99
This is a sponge bug, nothing to do with GP.

[2016-07-11 04:18] #99 closed

[2016-07-11 10:51] inklit commented on #91
Leaded cows that were spawned naturally, and then lead into a claim, when attempting to interact with them holding wheat this happens as described above.
![cows](https://cloud.githubusercontent.com/assets/9058200/16728354/d5315104-4733-11e6-99dd-e34502bad204.png)

[2016-07-11 14:43] FiveEYZ commented on #99
i dont understand, then how can it only happen with only GP installed?

[2016-07-11 19:31] bloodmc commented on #99
@FiveEYZ You need to test in 1.8.9 SpongeForge as 1.10.2 sponge is still in bleeding and is VERY buggy still.

[2016-07-11 19:39] FiveEYZ commented on #99
alright thanks, will test it

[2016-07-12 19:22] bloodmc commented on #99
@FiveEYZ did it work correctly in 1.8.9?

[2016-07-12 21:12] FiveEYZ commented on #99
yes sorry, everything works flawlessly on 1.8.9 :/
I just have to wait until sponge gets more stable and hopefully it will be fixed along the way :)

[2016-07-12 23:19] GOKUSSL4 opened #100 "Restore Nature does not work"
Tried on newest build 28
/restorenature
/restorenatureaggressive
/restorenaturefill do not work and also no errors are fired in console and no logs

[2016-07-12 23:38] GOKUSSL4 commented on #93
the same is occuring in the 1.8.9 build as well.

[2016-07-12 23:42] GOKUSSL4 opened #101 "SpongeVanilla 348 1.8.9 ,Build 28 of GriefPrevention. Fire will not extinguish overtime."
Fire caused by thunder will not decay/extinguish overtime.

[2016-07-13 04:00] inklit opened #102 "Farewell and greeting messages"
![2tgmgw](https://cloud.githubusercontent.com/assets/9058200/16791385/69864360-488c-11e6-9886-8bda2a6fb6b2.png)

Players are able to set farewell and greeting messages which can impersonate players or server messages.

Perhaps there could be a config option to disable color codes, or to force a prefix on these messages.

I could just remove the permission to set these messages, but they are conven

[2016-07-13 22:43] bloodmc commented on #99
@FiveEYZ
Create a ticket for 1.10 here
https://github.com/SpongePowered/SpongeCommon/issues

Make sure to explain how it works in 1.8.9 and what breaks in 1.10

[2016-07-14 13:10] SnowBlitzz commented on #102
Good idea.

[2016-07-14 16:43] SnowBlitzz opened #103 "[1.8.9] Armors on armor stand not protected"
Armors on armor stand not protected.

Interact-entity-secondary is false on both admin and basic claims and yet players are still able to take another's display armor. This has been an issue before flags were implemented, a player without trust can steal armor as well.

[2016-07-15 11:52] OblivionNW opened #104 "[SpongeForge - 1563][GriefPrevention - 29] Wilderness admin no permissions"
When a server is first started this bug is not present but then over time (At what I believe to be a permissions reload), all players (including admins) are told that they do not have the wilderness admins permission when they attempt to perform any action.

[2016-07-15 16:53] OblivionNW commented on #104
It seems that claim flags are also wiped on server restart and sometimes they are unavailable (When i run /cf nothing is shown) and this happens at about the same time as the wilderness admin bug.

[2016-07-17 09:41] SnowBlitzz commented on #98
Another report from a player: If you try to take water with buckets in the safezone of the ocean's warp it will give you infinite water buckets and the buckets you have doesnt' become water buckets :I -Bozzino

I believe these are all connected.

[2016-07-17 18:07] OblivionNW commented on #104
Issue was due to using an incorrect version of pex - build 131 required

[2016-07-17 18:07] #104 closed

[2016-07-18 00:51] bloodmc commented on #101
@GOKUSSL4 Does this cause fire to spread indefinitely or does the fire remain in the same area?

[2016-07-19 01:18] LuxusDarkangel opened #105 "[1.10.2] Included debug"
Console is spamming "[Server thread/INFO] [STDOUT]: [me.ryanhamshire.griefprevention.event.PlayerEventHandler:onPlayerInteractBlockSecondary:1432]: PACKET RECEIVED", guess it's debug wrongly included.

[2016-07-22 06:05] cartman-2000 opened #106 "[1.10 branch] Server crash when resizing a claim with subdivisions in it."
The server will freeze when you try to resize a claim with a subdivision in it, and all the subdivisions will also be deleted from the claim on the next server start.

This is happening  on a Windows OS.
[23:02:02] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-11a6c07
    SpongeForge: 1.10.2-2011-5.0.0-BETA-1570
    Minecraft Forge: 12.18.1.2018

ash report.

[2016-07-22 17:03] #91 closed

[2016-07-24 18:51] hsyyid opened #107 "Server Crash with Pistons... EventListener is being called every 2ms for some reason"
http://pastebin.com/93DNK4f7

[2016-07-25 01:13] hsyyid commented on #107
Possibly related to https://github.com/SpongePowered/SpongeCommon/commit/b32f56d8e105a84a3e3412195d932c31e1bf4183

[2016-07-25 06:13] hunter688 opened #108 "gold shovel modes (bedrock to sky/cuboid)"
Situation:

Default behavior for claims want create from bedrock to sky, similar for subclaims.

In some cases will be fine set showel to another mode and allow set cuboid area using selected block and make not bedrock to sky claims/subclaims.

Example:

spawn admin claim from bedrock to sky, subclaim area 40x20x20 for mines, where would like allow block-break

[2016-07-25 15:09] bloodmc commented on #107
This was a bug in Sponge, update to latest SpongeForge.

[2016-07-25 15:09] #107 closed

[2016-07-25 17:33] #105 closed

[2016-07-25 17:47] bloodmc commented on #94
@cartman-2000 This should be fixed. Please test latest build.

[2016-07-25 20:39] bloodmc commented on #106
@cartman-2000 Thanks for report, I have fixed this in my local workspace by rewriting how resizing claims are performed. I'll be pushing a fix later today.

[2016-07-26 06:48] #106 closed

[2016-07-26 12:40] inklit commented on #108
I can imagine why this would be a good idea.
I will another example here:
A player on my server created an apartment complex, with multiple stories.
In order to give users access to their room, he creates a subdivision.
In the current non-cuboid mode, this will give the particular player access to all of the apartments above and below his floor.

The apartment complex owner with a cuboid mode syst

[2016-07-26 13:31] bloodmc commented on #94
This is no longer a problem in latest build.

[2016-07-26 13:31] #94 closed

[2016-07-26 13:38] inklit opened #109 "Issue with explosion claim flag"
If you do /cf explosion minecraft:grass false for example, grass blocks will still explode.
It is not possible to allow/deny specific blocks from exploding.

[2016-07-26 22:31] FiveEYZ opened #110 "[1.10.2]command claimbook"
did `/claimbook `and got this

![Imgur](http://i.imgur.com/HY3nRiv.png)

using:
griefprevention-1.10.2-1.1.0.40
spongeforge-1.10.2-2026-5.0.0-BETA-1604
PermissionsEx-Sponge build 136

[2016-07-26 23:06] FiveEYZ opened #111 "[1.10.2] enter-claim flag"
I did `/claimflag enter-claim minecraft:player false` and then `/cfd`

First it said i wasn't allowed to enter (like it should) but then after a few seconds i got teleported to
x0 y0 z0. I panic for a bit then died in the void.

using:
griefprevention-1.10.2-1.1.0.40
spongeforge-1.10.2-2026-5.0.0-BETA-1604
PermissionsEx-Sponge build 136

[2016-07-27 03:17] #97 closed

[2016-07-27 03:37] TheHimayLegend opened #112 "/ignore and /separate not working"
Yea so^

[2016-07-27 04:07] FiveEYZ commented on #110
should have tested this more, seems to work fine on a "new" server install

[2016-07-27 04:07] #110 closed

[2016-07-27 05:11] TheHimayLegend opened #113 "Untrust players using redstone items break it."
I made you a video to explain
https://www.youtube.com/watch?v=Tj_4wTR9aE4&feature=youtu.be

[2016-07-27 12:00] inklit commented on #112
I can confirm this happens with on 1.8.9 with PermissionsEx on the latest build of Sponge and GriefPrevention.
Players are still able to see the chat messages of players that they have ignored.

[2016-07-27 12:19] inklit opened #114 "Resizing claim corrupts and error deleting corrupted claim"
There was a problem with resizing a claim, it evidently didnt resize properly and now the claim is corrupted.
Using a stick with shift right click shows the new claim borders but the old claim is still there.
If you right click with the stick, even though shift right click shows borders, it says that nobody owns the block.

The new claim borders not actually protect anything, even though there is

[2016-07-27 12:26] inklit commented on #114
When the server is restarted, the corrupted claim returns to normal and it's size is what it was supposed to be resized to.

[2016-07-27 14:44] LucidTheStick opened #115 "1.10.2 Admin Claim Dupe Bug"
MC: 1.10.2
Sponge: spongeforge-1.10.2-2026-5.0.0-BETA-1601.jar
GP: griefprevention-1.10.2-1.1.0.43.jar
PEX: PermissionsEx-Sponge-build136.jar

Steps:
1) Create admin claim
2) Non admin player equips any item to shield slot
3) Player right clicks in protected area
4) Primary slot is replaced by a copy of the shield slot (ex 10 diamonds in shield will cause 10 diamonds to appear in main hand/primary

[2016-07-27 14:57] bloodmc commented on #114
@inklit You need to be more specific... What build are you using? What claim type? Does this happen to newly created claims? Zip your ClaimData folder and let me know the location so I can test on my end.

[2016-07-27 15:06] inklit commented on #114
I am using the latest build (43).
It seems I'm unable to reproduce this after I restarted the server, it seems to have been a temporary problem.
The claim type is a standard claim, at the time the claim was newly created.
http://66.11.122.190/ClaimData.zip is the ZIP file containg the ClaimData.
The location of the claim that was corrupted (but apparently is not anymore after a server restart) is

[2016-07-27 15:20] bloodmc commented on #114
@inklit OK I'll keep this ticket open in case it happens again. Let me know if the problem can be reproduced.

[2016-07-27 15:26] FiveEYZ commented on #115
also works in a "player made claim"
tested in my own claim using /cfd

and this issue was also reported here https://github.com/SpongePowered/SpongeCommon/issues/853

[2016-07-27 17:22] inklit opened #116 "GriefPrevention not receiving onBlockPre event from isBlockProtected"
When attempting to call isBlockProtected from CCTweaks, it always returns false because GriefPrevention is not cancelling the event.

From debugging I found that GriefPrevention seems to never receive onBlockPre.

[2016-07-27 17:26] #116 closed

[2016-07-27 18:13] inklit opened #117 ""No permission" messages don't work"
On build 44 the messages like "You don't have {PLAYER}'s permissoin to build here." do not show up whenever you attempt to place or break a block inside of a claim.

The only time they will show up is if the player attempts to place a block inside of a claim off of the side of a block that is outside of the claim.

[2016-07-27 18:54] inklit commented on #116
Thanks.

[2016-07-27 22:38] #117 closed

[2016-07-28 00:08] Eufranio opened #118 "[1.10.2] Storage Drawers aren't protected"
You can just shift-left click to take items from the containers.

[2016-07-28 07:07] bloodmc commented on #115
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/50467db00931cc1cafca351bdc4abf73536d194f

Update to SpongeForge 1622+

[2016-07-28 07:07] #115 closed

[2016-07-28 12:17] FiveEYZ commented on #115
works great, thanks! :D

[2016-07-28 20:52] bloodmc commented on #118
@Eufranio Please retest with latest SpongeForge and GP builds and let me know if it is still an issue.

[2016-07-28 20:53] bloodmc commented on #111
@FiveEYZ This is a sponge bug.

[2016-07-28 21:50] bloodmc commented on #111
https://github.com/SpongePowered/SpongeCommon/issues/859

[2016-07-28 21:50] #111 closed

[2016-07-29 02:55] nguyenquyhy opened #119 "Combine GP with permission manager"
I would love to be able to have more complex combination between GP and permission:
- A community building claim where everyone can turn on creative and build (permission minecraft.command.gamemode inside the region).
- A construction claim where only builders (PEX group) can turn on creative and build.

[2016-07-29 02:58] nguyenquyhy opened #120 "Combine GP greetings, farewell with commands"
It would be great if we can call some commands when player is entering and leaving the claim. I hope the command can use @p to target the player too. This is quite powerful so would also need some kind of admin-level permission.

[2016-07-29 03:15] nguyenquyhy opened #121 "Permanent visualization of GP claims"
I would be nice to be able to toggle visualization of claims for everyone. Normally I would want to turn on permanent visualization for in-progress buildings, and turn off afterward. A workaround would be to build real blocks in the world, but then I'll have to replace it afterward. Also, the current visualization of GP is quite nice and people are familiar with the meaning already.

[2016-07-29 14:53] OblivionNW opened #122 "Lightning breaks item frames"
If lightning is struck on an item frame it is dropped along with its containing item, the lightning can be
- Natural
- Spawned by command
- The move 'Thunder' on a Pixelmon

[2016-07-29 22:02] FiveEYZ commented on #118
can confirm this is still the case using spongeforge-1.10.2-2026-5.0.0-BETA-1628

will also add that "breaking" the storage drawer will make all content of the drawer duplicate

[2016-07-29 22:35] bloodmc commented on #122
@OblivionNW I cannot reproduce this with the essentials /lightning command.

[2016-07-29 23:13] OblivionNW commented on #122
Hi! I was using Sponge recommended build for 1.8.9

[2016-07-29 23:24] bloodmc commented on #122
@OblivionNW I've tested in both 1.8.9 and 1.10.2 using a clean setup and cannot reproduce issue. Make sure the players running these commands are not trusted.

[2016-07-29 23:29] OblivionNW commented on #122
I'm specifically testing it with Pixelmon, the users are simply players on my server and they don't have permission in the spawn region.

[2016-07-30 18:24] inklit opened #123 "Plethora mod issues with protection"
Plethora is a peripheral mod for ComputerCraft, and lasers shot by a computer's Item Manipulator are able to break blocks in protected areas and parts of the world that the player who placed the Manipulator is not trusted in.

Lasers shot by players themselves are protected and have no issues, only when they are shot from an Item Manipulator is there a problem.

**NullPointerException in ChangeBlo

[2016-07-31 06:04] bloodmc commented on #123
@inklit It is your job to mark these "FakePlayers" as invalid in sponge's config. There is a section just for that. As for NPE, I'll add a fix for that.

[2016-07-31 14:39] inklit commented on #123
@bloodmc
I have already marked it as invalid in Sponge's configuration, for some reason it seems to impose a lack of quotes which I think is the problem.
[code]

[2016-08-01 04:45] inklit commented on #114
This looks like it has happened again on my server.
I still can't seem to figure out *why* it happens, but here's the errors that showed up when the player tried to delete their corrupted claim.
Unfortunately these are as much as I can provide to attempt to fix this problem, though they probably are not very useful.

[code]

[2016-08-03 05:11] DiamondArrow commented on #100
Still doesn't work for me

[2016-08-04 19:49] Eufranio commented on #118
In the latest build, any protections doesn't work :|

[2016-08-05 17:25] NoCross1 opened #124 "Claims disappearing"
Hey, I believe I found out what makes the claims disappear. I posted on the sponge forums thread but I was told to post here, so basically a player reported this to me on our forum "*MAJOR UPDATE*
i discover the claims become unclaimed when the owner of the claim goes offline
not 100% sure but i went throu vanellope_glitch town and Reconkevin house which both are claimed but magicly not claimed
Up

[2016-08-05 19:08] bloodmc commented on #124
@NoCross1 I just tested this and I cannot reproduce it. Post your permissions.json file

[2016-08-05 19:14] NoCross1 commented on #124
Alright, my permissions file is super messy. https://www.dropbox.com/s/egnfv75yphc3i49/permissions.json?dl=0

[2016-08-05 19:29] NoCross1 commented on #124
Okay so another thing is that a player has said "It was fine until I started doing subdivisions in other claims" when his claim was corrupt where players can't claim over that claim but can break blocks etc.

[2016-08-05 19:34] bloodmc commented on #124
@NoCross1 There are a bunch of issues with this...

1. Turn on alphabetize in the pex config so all your perms get sorted.
2. Remove "griefprevention.admin.claim.wilderness" from the default user as this is an ADMIN only function and should never be given to all players.
3. Helper has the godmode permission "griefprevention.admin.command.ignore-claim" which should only be given to the highest admi

[2016-08-05 19:37] NoCross1 commented on #124
Alright, so the claims getting corrupt is being caused by the permissions file?

[2016-08-05 21:32] NoCross1 commented on #124
Hey, after doing what you said this problem is still occurring. Any ideas?

[2016-08-05 22:16] popcorn9499 opened #125 "grief pervention mysql not working"
I'm fairly new to sponge and ive used spigot for awhile and forge forever but anyways. Ive been having some problems with the mysql storage on this plugin on sponge. It just doesnt seem to be loading it or even logging that it tried to load it. im not exactly sure whats wrong i reset the configs and tried again i even removed all the other plugins and mods to see what was the cause closer. and no

[2016-08-05 22:30] bloodmc commented on #124
@NoCross1 Zip your GriefPreventionData folder in world folder. Provide a link here and tell me the location of the claim.

[2016-08-06 01:35] NoCross1 commented on #124
Hey, it hasn't been updated since 7/28 is this because I use mysql? https://www.dropbox.com/s/aazu4tqgxui5znf/GriefPreventionData.zip?dl=0

[2016-08-07 01:22] NoCross1 commented on #124
Any idea on this problem? Claims keep disappearing and it's just making me lose my most loyal players.

[2016-08-07 03:10] SnowBlitzz opened #126 "Can't do /acb in console"
06.08 23:00:55 [Server] Server thread/INFO Error occurred while executing command: net.minecraft.server.dedicated.DedicatedServer cannot be cast to org.spongepowered.api.entity.living.player.Player

This is the error I get for doing /acb SnowBlitzz 1000 world189
world189 is the name of the world, if I don't put the world parameter, I get this:

06.08 23:08:47 [Server] Server thread/INFO Error! No

[2016-08-07 03:11] SnowBlitzz opened #127 "Getting spammed by no build permissions when doing nothing"
http://i.imgur.com/SNgEJ49.png

some people get spammed by these when far out of the centerpoint even if theyre doiing nothing.

[2016-08-07 04:14] bloodmc commented on #124
@NoCross1 mysql is not functional with GP. You need to use file mode.

[2016-08-07 06:28] NoCross1 commented on #124
Is there a command to migrate the files if it was working or can I just remove mysql and not worry about data?

[2016-08-08 05:23] #108 closed

[2016-08-08 05:23] #114 closed

[2016-08-08 05:23] #119 closed

[2016-08-08 05:23] #124 closed

[2016-08-08 15:47] Karagra opened #128 "Flying Pokemon able to enter claim without permission"
If you mount a pokemon outside a claim that is /cf enter-claim any false you can still fly and walk into the claim while on a pokemon. You will get the no permissions spam in chat but still able to fly/walk around. Might want to add a feature that if you get that command it will tp you to a location admins can set.

[2016-08-09 05:56] hunter688 opened #129 "1.8.9 console errors - gp 2.0.0.59"
http://pastebin.com/xF2in5ry

spongeforge 1.8.9 build 1.8.9-1890-4.2.0-BETA-1653

[2016-08-09 07:23] hunter688 commented on #129
my fail, orphaned claim file

[2016-08-09 07:23] #129 closed

[2016-08-09 20:22] bloodmc commented on #127
@SnowBlitzz Is this still happening in latest build?

[2016-08-09 20:22] bloodmc commented on #126
@SnowBlitzz Make sure you are running the LATEST build and post the entire server log if it happens again.

[2016-08-09 20:54] SnowBlitzz commented on #127
This was on build 56 and still present in 59

[2016-08-12 17:52] Flashback083 opened #130 "UseBug permission for claim"
Hi ! i think we found an issue very problematic, i try to explain but im not very good :c

In world we have this ./cf flag :
https://gyazo.com/c96993af813cf9c95cbc6c5e652195c6

So user cant build in the world, except if he place a chest

But when he claim, he can build in his claim (logic) and in world claim ONLY IF he is IN their claim
Did you see what i mean ?
Thanks !

[2016-08-12 23:12] majix560 opened #131 "Add non-block item support to item-use flag"
Add non-block item support to item-use flag.
Because preventing the majority griefing with mod items would be easier by preventing people from using them to begin with,
then it would be to directly protect against the damage.

[2016-08-12 23:20] majix560 opened #132 "Add general use meta/damage data support to flags...."
Add general use meta/damage data support to flags that take an item or block name/id as a target.
A lot of mods are programmed to have items/blocks share item names/ids but with different meta/damage data to differentiate between them.
And no, that includes stuff that's completely different and/or completely unrelated.
Take Vazkii's Psi mod for example.
All of the components of a specific type sha

[2016-08-13 02:12] bloodmc commented on #132
Blockstates are NOT hardcoded as they have been the standard since 1.8 and will not be going away. Every single mod is required to use blockstates for blocks in 1.8+.

To handle blocks in GP, you simply specify the [property=value] after the flag. However, non item blocks are still an issue as damage value seems to still be the the only thing that can be used to distinguish an item from another of

[2016-08-13 02:13] bloodmc commented on #131
dupe #132

[2016-08-13 02:13] #131 closed

[2016-08-13 02:17] majix560 commented on #131
THIS IS NOT A DUPE!!!!!!

[2016-08-13 02:31] #132 closed

[2016-08-14 07:09] hunter688 opened #133 "Feature request - chunk spawn mob limiter"
Will be possible make something like:

https://github.com/Cyprias/ChunkSpawnerLimiter

affected to claims?

[2016-08-14 07:31] bloodmc commented on #130
I don't understand the issue.

[2016-08-15 01:53] Eufranio opened #134 "Nothing is protected, except Pressure Plates :/"
I think it's a mod incompatibility, i have a server using latest SpongeForge, Forge and GriefPrevention builds, and nothing is protected inside a claim. Other person can break/interact/open everything, except Pressure Plates.

If you want, here is the modpack that i'm using: http://www.technicpack.net/modpack/magitech-server-beta-pack.883332

There is no errors in console, i tested using /cfd comm

[2016-08-15 17:30] bloodmc commented on #134
@Eufranio You setup PEX wrong then. Did you follow the instructions on forum? Paste your permissions.json

[2016-08-15 17:36] Eufranio commented on #134
My permissions.json: http://hastebin.com/dikokaniza.dos

[2016-08-15 17:57] bloodmc commented on #134
@Eufranio Why did you assign the member group "griefprevention.claim": 1 ? That basically grants access to EVERYTHING under the griefprevention.claim node including flags. Remove it and fix your permissions.

[2016-08-15 17:57] #134 closed

[2016-08-15 19:03] Eufranio commented on #134
I did it to not give EACH permission to the players, but if this is the problem i can remove, thank you.

[2016-08-15 19:07] Nentify opened #135 "[Request] API"
An API would be useful for those willing to create extensions for GriefPrevention.

[2016-08-15 23:24] Eufranio commented on #134
Wait... I am a admin and i have all permissions in my group, but when i use /cfg, what is supposed to happen? I'm still being able to open things and interact with the claim.

[2016-08-16 01:22] clienthax commented on #135
What would you want from the api?

[2016-08-16 03:05] FiveEYZ opened #136 "[1.10.2] Fail to Load claim on server start - NullPointerException"
Made a admin claim and restarted the server
https://gist.github.com/FiveEYZ/7f7d9e8129cee6eb7428992de3ca12a8

using:
spongeforge-1.10.2-2052-5.0.0-BETA-1673
forge-1.10.2-12.18.1.2061-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b140
griefprevention-1.10.2-2.1.0.62

[2016-08-16 08:07] Nentify commented on #135
Get claim at location, add/remove builders, etc

[2016-08-16 12:17] SnowBlitzz opened #137 "Abandonclaim issue"
Sponge 1653 to 1666 (maybe not relevant to sponge ver)
GP build 56 to 59

When the player does either /abandonclaim or /abandonallclaims, he receives errors "Error occurred while executing command: null." and "You don't have any land claims." respectively.
When right-clicking the land (with a stick) that he supposedly unclaimed it still gives the message "That block has been claimed by <PlayerName

[2016-08-16 15:51] Flashback083 commented on #130
Mhm.. how explain...
The world have build protection, you can see here :
https://gyazo.com/c96993af813cf9c95cbc6c5e652195c6
block-break and block-place set to false okay ?

So user can place only chest to claim an area.
But the issue its the user can build in their claim (its okay for this) but he can build in world if he standing in their claim (so he can place block in 2-3 block far that the cla

[2016-08-17 01:45] bloodmc commented on #137
This is an issue with builds under 59. You need to reproduce it with 59+. I do not support anything under it.

[2016-08-17 01:59] bloodmc commented on #137
Unable to reproduce this issue with builds 59+. Do NOT use anything under this build.

[2016-08-17 01:59] #137 closed

[2016-08-17 02:06] #136 closed

[2016-08-17 02:09] bloodmc commented on #130
You mean the player can stand at the edge in a claim they are trusted in and build in the wilderness?

[2016-08-17 02:31] bloodmc commented on #130
@Flashback083 OK I reproduced the issue. I'll fix soon.

[2016-08-17 02:57] #130 closed

[2016-08-17 03:00] bloodmc commented on #130
@Flashback083 Please test latest build and confirm if it is fixed =)

[2016-08-17 03:08] bloodmc commented on #134
Don't assign any group "permissions-default: 1". Doing this grants them access to ALL claims.

[2016-08-17 04:39] FiveEYZ opened #138 "[1.10.2] SkeletonTrap"
How do i make these http://minecraft.gamepedia.com/Horse#Skeleton_trap unable to spawn inside a claim

the flag entity-spawn is set to false, but they still spawn

using:
spongeforge-1.10.2-2052-5.0.0-BETA-1675
forge-1.10.2-12.18.1.2065-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b140
griefprevention-1.10.2-2.1.0.67

[2016-08-17 05:27] FiveEYZ commented on #118
Made a little video of this issue:
https://www.youtube.com/watch?v=SJ0efCBwpRU
If there is anything else u want me to test with this just tell.

Using:
griefprevention-1.10.2-2.1.0.65
spongeforge-1.10.2-2052-5.0.0-BETA-1674
forge-1.10.2-12.18.1.2065-universal
PermissionsEx-Sponge b140
StorageDrawers-1.10.2-3.2.4

[2016-08-17 13:08] Flashback083 commented on #130
@bloodmc  i test and its work fine for 1.8.9, thanks !

[2016-08-17 15:55] FiveEYZ commented on #118
now you can even do this https://github.com/SpongePowered/SpongeForge/issues/822

same setup as above but updated:
griefprevention-1.10.2-2.1.0.67
spongeforge-1.10.2-2052-5.0.0-BETA-1675

while /cfd is active u can break the storage drawer and pickup all its content

[2016-08-17 16:45] FiveEYZ opened #139 "[1.10.2] claimBlock are not global"
as the title say, the amount of claimBlocks a player have seems to be dimension specific.

using:
spongeforge-1.10.2-2052-5.0.0-BETA-1675
forge-1.10.2-12.18.1.2065-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b140
griefprevention-1.10.2-2.1.0.67

[2016-08-17 19:14] inklit commented on #139
and this is an issue why exactly? I believe that this is fully intentional behavior.

[2016-08-17 19:18] FiveEYZ commented on #139
the claimblocks i accumulate in the overworld cant be used in other dimensions, is it really supposed to be like that?

[2016-08-17 19:21] #139 closed

[2016-08-18 04:35] FiveEYZ opened #140 "[1.10.2] Could not pass SpawnEntityEvent$Impl"
This error just came up in my console: https://gist.github.com/FiveEYZ/c46b87160c0533661d76ddd75dd37263

Using:
spongeforge-1.10.2-2052-5.0.0-BETA-1675
forge-1.10.2-12.18.1.2065-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b140
griefprevention-1.10.2-2.1.0.67

[2016-08-18 19:18] inklit opened #141 "Could not pass ChangeBlockEvent$Pre$Impl NullPointerException"
Not entirely sure why this error happens, though it somehow is related to Iron Chests mod.

[code]

Using latest build as of this post.

[2016-08-18 19:37] FiveEYZ commented on #126
if im doing `/acb` in-game then i dont have to specify a world, but i do need to if i run it thru the console

also using UUID wont work with `/acb`

[2016-08-19 17:14] FiveEYZ opened #143 "[1.10.2] Could not pass UnloadWorldEvent$Impl"
when i stop the server this error will show on the console:
https://gist.github.com/FiveEYZ/c9e067e0d86058ff24f7084eb97e28d8

Using:
spongeforge-1.10.2-2052-5.0.0-BETA-1675
forge-1.10.2-12.18.1.2065-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b140
griefprevention-1.10.2-2.1.0.67

[2016-08-21 08:15] hunter688 opened #144 "uuid issue"
when server starting in the log is this:

[10:11:10] [Server thread/INFO] [griefprevention]: GriefPrevention: Found mismatch world UUID in claim file ./world/GriefPreventionData/ClaimData/0f3c7932-b317-4a71-a529-1c57ce8734fa. Expected 443bfb1e-30ac-4442-bb62-bd1304c71f53, found cc30db2a-3ff5-423b-b878-1ef132f5c0ef. Updating file with correct UUID...
[10:11:10] [Server thread/INFO] [griefprevention

[2016-08-22 15:01] 5igm opened #145 "Error feedback: cannot stop explode from some mods"
spongeforge-1.10.2-2052-5.0.0-BETA-1679
griefprevention-1.10.2-2.1.0.67

[code]

[2016-08-22 17:19] 5igm opened #146 "How can I enable players to use stone_pressure_plate and wooden_button?"
I have tried permissions"griefprevention.claim.flag.interact-block-secondary.minecraft.wooden_button" and "griefprevention.claim.flag.collide-block.minecraft.stone_pressure_plate", but they cannot enable players to use wooden_button and stone_pressure_plate.
The commands I issued:
[code]
spongeforge-1.10.2-2052-5.0.0-BETA-1679
griefprevention-1.10.2-2.1.0.67

[2016-08-23 15:49] Nentify opened #147 "Using golden shovel to claim grass turns it into grass path"

[2016-08-23 15:54] Nentify opened #148 "You can build in wilderness with block-place false if inside a claim"
![](http://i.nentify.me/afSKbvzl.png)

In the image above, the blue circle is an admin claim. The user has permission trust (manager).

This was also tested in an admin claim where the user doesn't have permission trust. They can simply stand inside any claim and build on the wilderness when the wilderness has block-place false.

The wilderness claim has 'block-break any false' and 'block-place an

[2016-08-23 16:07] Nentify opened #149 "[Suggestion] Flag to prevent claiming in wilderness claim"

[2016-08-23 17:36] Nentify opened #150 "[StorageDrawers 1.10] Can extract/view from storage drawers"
Video: http://i.nentify.me/JP9Lb7rU.mp4

[2016-08-23 23:04] Nentify opened #151 "Claims should inherit wilderness/parent flags"
Haven't tested with a parent claim, but entity-spawn being false on the wilderness should also affect claims in that world too.

[2016-08-24 02:01] bloodmc commented on #148
What build are you using?

[2016-08-24 02:05] bloodmc commented on #151
The wilderness claim has no relation to basic/admin claims in that world. GP will generate basic/admin defaults per world that claims will inherit from. If you want to set a flag that overrides all claims then stand in the type of claim such as a basic claim and enter  '/cf entity-spawn any false override'. Read the forum topic for more info.

[2016-08-24 02:08] bloodmc commented on #151
Re-opening in case you have suggestions to make this easier on end-users.

[2016-08-24 02:10] bloodmc commented on #138
@FiveEYZ This sounds like a bug with sponge 1.10.2 as GP just listens for the spawn event and cancels as required.

[2016-08-24 02:11] bloodmc commented on #146
@5igm For basic access use, I would recommend using '/accesstrust public'. This should give players access to anything that does not contain inventory. If you require more advanced usage then let me know so I can assist you further.

[2016-08-24 02:12] bloodmc commented on #147
Reproduced, I'll fix it soon.

[2016-08-24 03:26] bloodmc commented on #127
@SnowBlitzz Try to reproduce this. Also state the exact SF build you are using too.

[2016-08-24 08:00] Nentify commented on #151
That sounds interesting. Override may be what I want, will look into this.

[2016-08-24 08:01] Nentify commented on #149
Yeah, I only want admin claims in this world (using it in place of worldguard for this world)

[2016-08-24 12:16] Nentify commented on #148
Was using build 62. Works perfectly in latest builds. Thanks!

[2016-08-24 12:16] #148 closed

[2016-08-24 12:18] Nentify commented on #151
When in wilderness claim, running `/cf entity-spawn any false override` gives the error `Claim type WILDERNESS does not support flag overrides. Context 'override' is invalid.`.

[2016-08-24 12:22] Nentify commented on #151
`/cf entity-spawn any false override` seems to be enough for what I need, not sure how it could be improved though. Do sub-claims inherit their parent claim's flags?

[2016-08-24 18:04] bloodmc commented on #151
@Nentify yes and you can even block inheritance with /inherit command.

[2016-08-24 18:11] #151 closed

[2016-08-24 19:58] 5igm opened #152 "Error feedback"
[code]

[2016-08-26 23:23] bloodmc commented on #152
This is a Sponge bug.

https://github.com/SpongePowered/SpongeCommon/issues/896

[2016-08-26 23:23] #152 closed

[2016-08-26 23:24] bloodmc commented on #149
Don't give players 'griefprevention.claim.create'

[2016-08-26 23:24] #149 closed

[2016-08-28 18:03] hunter688 opened #153 "admin claim created in the overworld is in the nether too"
Maybe it is related to #144

[2016-08-28 18:05] hunter688 opened #154 "add world to /claiminfo"
please add world to claiminfo output

[2016-08-28 18:08] hunter688 commented on #144
every restart GP want change uiid, looks like something weird:

[bukkit@mc11 Logs]$ grep 780dfffc-56a1-4d37-9814-9c4642df2ded *
2016_08_21.log:10:11 Found mismatch world UUID in claim file ./world/GriefPreventionData/ClaimData/780dfffc-56a1-4d37-9814-9c4642df2ded. Expected cc30db2a-3ff5-423b-b878-1ef132f5c0ef, found 443bfb1e-30ac-4442-bb62-bd1304c71f53. Updating file with correct UUID...
2016_08_2

[2016-08-29 14:02] IBGnova opened #155 "Pixelmon Entities not registering properly."
A little bit of an issue. Something that was changed within a recent update changed the way entities are registered when using /cf interact-entity-secondary
So when I do /cf interact-entity-secondary pixelmon:Shopkeeper true it isn't working
It is trying to register it as "pixelmon.animal.Shopkeeper"

This issue is resolved only by allowing players to interact with ANY pixelmon entity.

[2016-08-29 14:06] IBGnova opened #156 "Fire-Spread protection issues."
My server was randomly dropping TPS, so I was TP'ing to players, and one player was in a Jungle Biome. I looked around the jungle biome and concluded that the lag was coming from that area, but I couldn't figure out why it was lagging. I then found a source of lava that was in contact with some leaves of a tree, and it seems as though the lava was trying to break the leaves, but due to the Fire-Sp

[2016-08-29 20:53] FiveEYZ commented on #141
so im getting a insane spam in console: http://pastebin.com/raw/Tzv8xkkm

after 20 minutes server uptime the `fml-server-latest.log` is already at 44879kb

[2016-08-30 01:15] Eufranio opened #157 "[1.10.2] Storage Drawers visual dupe"
Steps to reproduce:

1. Place down a Drawer:
![drawer1](https://cloud.githubusercontent.com/assets/17598280/18072509/51e45796-6e35-11e6-922c-673907c4e3e3.png)
2. Put any stackable item in the drawer, and have at least 1 on your inventory:
![drawer2](https://cloud.githubusercontent.com/assets/17598280/18072523/6ef7adba-6e35-11e6-95b7-dc829ac74ce9.png)
3. Use /cfg or ask a friend to claim the land w

[2016-08-30 17:41] #155 closed

[2016-08-30 17:52] #154 closed

[2016-08-31 03:58] Jay9519 opened #158 "flags in admin claims"
I would like all players to use items in an admin claimed spawn area but not break or place blocks, i've tried /accesstrust public but that doesn't work.
with /cf command there is a flag for interact-block-primary and secondary but no idea how to make that flag true only in that claimed area, please let me know the command to do this

[2016-08-31 06:30] hunter688 opened #159 "[1.8.9] - nether config file structure"
in the config folder have all worlds except nether same structure.
<pre>
[bukkit@mc11 worlds]$ tree
.
├── global.conf
├── nether
│   ├── dimension.conf
│   └── world.conf
├── overworld
│   ├── dimension.conf
│   └── world
│       └── world.conf
├── the_end
│   ├── DIM1
│   │   └── world.conf
│   └── dimension.conf
├── the_outer_lands
│   ├── dimension.conf
│   └── The\ Outer\ Lands
│       └── wor

[2016-08-31 06:53] hunter688 commented on #153
with latest build which show world using /claiminfo:
first screen - in the nether, second - overworld - claim is created in the overworld and may be only in the overworld.

![2016-08-31_08 49 13](https://cloud.githubusercontent.com/assets/1410134/18118938/3be6c8ba-6f58-11e6-8f88-1ddb184e7b71.png)
![2016-08-31_08 49 34](https://cloud.githubusercontent.com/assets/1410134/18118942/42b0182c-6f58-11e6-

[2016-08-31 12:38] aglarcz opened #160 "pixelmon pokeloots"
Using suggested commands:
/accesstrust public
/cf interact-entity-secondary pixelmon:any true
/cf block-break pixelmon:Poke_Chest true
/cf block-break pixelmon:Ultra_Chest true
/cf block-break pixelmon:Master_Chest true

Players can still duplicate items - if they are given containtertrust, they can open pokeloot chest infinetely again and again.

[2016-08-31 13:36] bloodmc commented on #153
Looks like you have corrupted data or something is seriously broken. Test on a clean server.

[2016-08-31 15:28] IBGnova commented on #156
I have made some recent discoveries that make this post irrelevant, I will make another post with the proper information. I'm really sorry if this is considered post spam.

[2016-08-31 15:28] #156 closed

[2016-08-31 16:13] zXTechnoWolf opened #161 "Players with the same PEX group getting different wilderness permissions"
With their permissions settings matching exactly, same group, only one group, no special permissions, different players are getting something different in the wilderness. One player can build/destroy fine but can't interact with mobs from mods (Vanilla mobs work fine), while others cant interact with anything (blocks, mobs) but containers (any container).

[2016-08-31 16:25] zXTechnoWolf commented on #161
And I had the great idea to use /trust public in the wilderness and that seemed to fix everything

[2016-08-31 16:25] #161 closed

[2016-08-31 18:41] hunter688 commented on #153
maybe it is related to #159 because the end dim, wyvern dim and thaumcraft dim without this problem

[2016-08-31 18:45] hunter688 commented on #153
claim show no world in the nether, i think its gp bug, not corruption of data

claim file content:
<pre>
# 12.1.7
# # If you need help with the configuration or have any questions related to GriefPrevention,
# # join us at the IRC or drop by our forums and leave a post.
# # IRC: #spongedev @ irc.esper.net ( http://webchat.esper.net/?channel=spongedev )
# # Forums: https://forums.spongepowered.org/

[2016-08-31 18:48] hunter688 opened #162 "show size in /claiminfo"
will be fine show size of claim in the /claiminfo

example:

size: 120x50x132  (when is 3D)
size: 120x132 (when is 2D)

[2016-08-31 19:30] hunter688 commented on #153
why GP create in the pex json these entries with world "" ?

<pre>
             {
                    "contexts": {
                        "world": "",
                        "gp_claim_defaults": "ADMIN"
                    },
                    "permissions": {
                        "griefprevention.claim.flag.exit-claim": 1,
                        "griefprevention.claim.flag.projectile-imp

[2016-08-31 19:38] hunter688 commented on #153
nether have no name:

<pre>
[21:34:14] [Server thread/INFO] [FML]: Loading dimension 1 (DIM1) (DedicatedServer)
[21:34:15] [Server thread/INFO] [THAUMCRAFT]: Creating aura cache for world 1
[21:34:15] [Server thread/INFO] [FML]: Loading dimension -17 (MoCWyvernLair) (DedicatedServer)
[21:34:15] [Server thread/INFO] [THAUMCRAFT]: Creating aura cache for world -17
[21:34:15] [Server thread/INFO] [FM

[2016-08-31 19:52] hunter688 commented on #159
my fail - corrupted nether world, sorry

[2016-08-31 19:52] #159 closed

[2016-08-31 19:52] hunter688 commented on #144
corrupted nether world - my fail sorry

[2016-08-31 19:52] #144 closed

[2016-08-31 19:56] hunter688 commented on #153
[21:34:18] [Server thread/INFO]: Preparing start region for level -1 ()
 is problem.

wiping nether solved this issue and related too.

Thanks for help!

[2016-08-31 19:56] #153 closed

[2016-09-01 11:31] IBGnova opened #163 "Pistons still broken?"
https://gyazo.com/2f0d38ffd1d06a20d89cbb16d10d46f2

Not sure what's causing it. This is anywhere (even the wilderness).

[2016-09-02 00:05] Jay9519 commented on #158
nobody knows how to?

[2016-09-02 09:45] FiveEYZ commented on #141
turned out that GP didnt create a Wilderness claim, fixed the spam by creating 1 manually

[2016-09-05 17:15] bloodmc commented on #158
Enter the following while standing in the claim
[code]

[2016-09-05 17:23] inklit opened #164 "Could not pass NotifyNeighborBlockEvent$Impl"
[code]
Not entirely sure of the cause, but it's spammed quite a lot.
When spamming, it causes the server to timeout all of the players. Not exactly a crash, since it recovers after everybody logs out.
Using spongeforge-1.8.9-1890-4.2.0-BETA-1693 and griefprevention-1.8.9-2.0.0.70

[2016-09-11 02:20] lightningo7 opened #165 "Can not resize Sub-Division"
I have made a somewhat large claim (5625 blocks large) and inside the claim /subdivideclaims and /cuboid and made several somewhat small subdivides. (4x4x3 dimensions)

Upon trying to resize the subdivides it tells me "Can't resize here because it would overlap another nearby claim."

This includes trying to resize in any direction.
If it helps the claims are about 10-15 blocks above one another.

[2016-09-15 08:32] nguyenquyhy opened #166 "Town features wanted"
To implement a town protection, I need some additional capabilities in GP.

Here is my scenario:
(1) I want to protect a large town area with admin claim.
(2) Inside the town area, I want to create a subdivision for each empty house slot.
(3) I want any player to be able to visit the town and create their own claim inside the empty house slots without requiring actions from admins.

(1) and (2) ab

[2016-09-15 08:45] hunter688 opened #167 "howto create claim outside GP plugin?"
Please help me howto create new claim from another plugin.

Trying this:

<pre>
        World world = Sponge.getServer().getWorld("world").orElse(null);
        ClaimWorldManager cwm = GriefPrevention.instance.dataStore.getClaimWorldManager(world.getProperties());
        Location<World> lesser = new Location<World>(world, 0, 255, 0);
        Location<World> greater = new Location<World>(world, 10

[2016-09-18 04:04] KillzyazMadness opened #168 "Waterflow Lag"
Getting a large amount of lag and drop in TPS due to water flow monitoring by GriefPrevention: https://timings.aikar.co/v2/?id=430e8c0ad0334c8eb22759b90a2666b5

Was told to submit a ticket by blood in the IRC. Thanks!

[2016-09-19 04:27] bloodmc commented on #168
@KillzyazMadness Please zip up your world and plugins so I can fix the issue.

Thanks for the report!

[2016-09-19 04:42] bloodmc commented on #167
@hunter688 I'll add an API soon for this.

[2016-09-19 04:42] bloodmc commented on #165
@lightningo7 Can you upload your GP folder and give me coords?

[2016-09-19 04:43] bloodmc commented on #163
@IBGnova Please upload your world folder so I can test.

[2016-09-19 05:12] hunter688 commented on #167
Ok, thanks a lot!

[2016-09-19 07:40] lightningo7 commented on #165
[GriefPreventionData.zip](https://github.com/MinecraftPortCentral/GriefPrevention/files/479451/GriefPreventionData.zip)
Accidentally closed this ticket, sorry about that.

The coords are -6649 147 -7913.

[2016-09-20 02:34] KratosKnox commented on #165
@lightningo7 OK thanks, i'll check this soon.

[2016-09-20 02:34] bloodmc commented on #165
@lightningo7 OK thanks, I'll check this soon.

[2016-09-20 06:31] IBGnova commented on #163
https://www.dropbox.com/s/va7w0l949egcj26/world-20160824-070540.zip?dl=0

[2016-09-22 01:22] bloodmc commented on #165
@lightningo7 I do not see any subdivisions within this claim. It also seems to appear corrupted. Can you recreate it and see if it works?

[2016-10-02 02:33] inklit opened #169 "Resizing subdivisions claims outside of top level claim border/Overlapping claims"
The title is very self explanatory; it is possible to resize subdivisions outside of the top level claim border.
This causes issues as you might expect.

Version: 1.8.9 2.0.0.70

[2016-10-02 04:39] toxxicjtag opened #170 "Cactus keeps growing inside gp regions."
Versions: http://puu.sh/ruPk9/b00cd8250e.png
and griefprevention-1.10.2-2.1.0.72.jar

Cactus grows fine next to blocks inside of grief prevention areas.
So cactus farms dont autobreak the blocks as they grow.
Works fine when not region-ed.

[2016-10-02 04:40] bloodmc commented on #140
This was a sponge bug and has been fixed in latest builds.

[2016-10-02 04:40] #140 closed

[2016-10-02 22:56] RysingDragon opened #171 "GriefPrevention not handling ChangeBlockEvent.Modify"
I'm the developer of a plugin called hysis which spawns a double chest ([reference](https://github.com/RysingDragon/HISYS/blob/master/src/main/java/com/rysingdragon/hisys/HISYS.java#L70)) containing the player's inventory when a player dies. I still need to handle what happens if a chest fails to be placed but due to it being a double chest it's calling ChangeBlockEvent.Modify so with GriefPrevent

[2016-10-03 05:20] Darktilldawn opened #172 "Startup error"
http://pastebin.com/LQTL16jh

GP: 76
SF: 1775
Minecraft: 1.10.2

[2016-10-03 05:55] hunter688 commented on #172
Looks like API update of Sponge.

[2016-10-03 06:12] hunter688 commented on #172
maybe similar problem:

http://pastebin.com/aHnQRVKa

[2016-10-03 22:35] FiveEYZ opened #173 "[1.10.2] All claims gone after update"
After updating to `griefprevention-1.10.2-2.1.0.76` all claims are gone

i also getting an insane console spam after updating SpongeForge to latest build
https://github.com/SpongePowered/SpongeForge/issues/934

SpongeForge
Minecraft: 1.10.2
SpongeAPI: 5.0.0-SNAPSHOT-acfbf67
SpongeForge: 1.10.2-2092-5.0.0-BETA-1780
Minecraft Forge: 12.18.1.2094

[2016-10-03 23:57] #173 closed

[2016-10-03 23:58] bloodmc commented on #172
Fixed in latest build

[2016-10-03 23:58] #172 closed

[2016-10-04 02:58] bloodmc commented on #171
@RysingDragon Creating a double chest should always fire a place event first and if that is successful then the modify will occur. Simply fire a place event first and if GP cancels it, avoid placing your chest.

[2016-10-04 02:59] bloodmc commented on #170
@toxxicjtag Test using latest SpongeForge and GP build 77

[2016-10-04 13:21] hunter688 commented on #167
Still no luck with:

http://pastebin.com/nwmwAgrG

[2016-10-04 18:16] inklit opened #174 "java.lang.Error crash"
Don't know why it happened, I wasn't on when the server crashed.

[code]

[2016-10-05 01:48] RysingDragon commented on #171
That is what I've done since using the setblock method seemed to always return successful even in claims where I should not have permission to place blocks. Everything's working out fine now since I'm firing a fake place event before setting the block.

[2016-10-05 01:48] #171 closed

[2016-10-08 00:54] inklit commented on #169
Actually, I've seen several cases of normal claims overlapping so I think that this issue is not just subdivisions.

[2016-10-08 20:21] ryantheleach commented on #73
Hey blood, just got a chance to help a server admin set stuff up today, running 2.0.0 on 1.8.9 I was having a lot of difficulty creating an admin claim around the whole spawn, the visuals were either underground or hard to see, when I traveled larger distances to cover the spawn, even when using the stick to attempt to see what was claimed.

[2016-10-09 13:07] toxxicjtag opened #175 "Item Dupe"
Players can place a machine anvil, have someone not in their claim break it.
This will cause whatevers inside to fall on the ground, and be auto replaced cause they don't have access.

It must be container locked for this to work.

[2016-10-10 19:55] lambstream commented on #175
There is also a bug where if you place any item in the blood altar or many other types of single block holding things, the item would remain in your inventory and be in the storage device.

[2016-10-10 19:56] lambstream opened #176 "Item duplication bug"
There is abug where if you place any item in the blood altar or many other types of single block holding storage devices, the item would remain in your inventory and be in the storage device.

[2016-10-10 21:54] LemADEC commented on #175
Issue is reproduced in SSP with
   TConstruct-1.10.2-2.5.3
+ spongeforge-1.10.2-2092-5.0.0-BETA-1785
+ griefprevention-1.10.2-2.1.0.77
+ PermissionsEx-Sponge-142
When having a single iron block in hand, right clicking a casting basin will fill it without 'consuming' the item in hand.
When having multiple items in hand, it'll fill the basin and place a second iron block in the world, without duping

[2016-10-11 03:51] toxxicjtag commented on #175
I'm running pixelmon with SF- 1788 and forge 2092

[2016-10-11 03:52] toxxicjtag commented on #170
Thanks, resolved.

[2016-10-11 03:52] #170 closed

[2016-10-11 15:27] #164 closed

[2016-10-11 15:28] bloodmc commented on #138
@FiveEYZ This should be fixed in SF 1793+

[2016-10-11 15:28] #138 closed

[2016-10-11 17:35] Darktilldawn opened #177 "Could not change pass ChangeBlockEvent"
http://pastebin.com/Xhc1hGqU

SF - 1792
GP - 78
MC - 1.10.2

[2016-10-11 18:58] inklit opened #178 "Large claims visuals not showing properly"
In a large claim, it appears that only about half of the claim borders show up when using the stick.
This makes it very hard to actually figure out how big the claim is for my players, and it incredibly inconvenient when dealing with resizing.

[2016-10-11 21:33] LemADEC commented on #176
This is same issue as #175

[2016-10-11 22:16] bloodmc commented on #177
java.lang.NullPointerException
        at me.lucko.luckperms.api.sponge.LuckPermsUserSubject.getActiveContexts(LuckPermsUserSubject.java:155) ~[LuckPermsUserSubject.class:?]

Report to LuckPerms.

[2016-10-11 22:16] #177 closed

[2016-10-11 22:17] bloodmc commented on #174
This has nothing to do with GP...Your server timed out and that was the last thing it was doing.

[2016-10-11 22:17] #174 closed

[2016-10-11 22:26] bloodmc commented on #175
@LemADEC Does this occur with SF 1794?

[2016-10-11 22:27] bloodmc commented on #169
@inklit OK thanks, I'll look into this soon.

[2016-10-11 22:32] toxxicjtag commented on #175
Currently not doing it to me with the updated version you pushed today.

[2016-10-11 22:33] bloodmc commented on #175
OK thanks, closing as resolved then. Update to SF 1794+ for fix.

[2016-10-11 22:33] #175 closed

[2016-10-11 22:33] bloodmc commented on #176
Update to SF 1794+.

[2016-10-11 22:33] #176 closed

[2016-10-11 22:35] LemADEC commented on #175
I'm still reproducing it in SSP with:
spongeforge-1.10.2-2098-5.0.0-BETA-1794
PermissionsEx-Sponge-142
griefprevention-1.10.2-2.1.0.78

[2016-10-11 22:43] bloodmc commented on #175
@LemADEC It's a bug in Sponge with event being cancelled. Not a GP issue.

[2016-10-11 22:52] bloodmc commented on #175
Issue was already reported here
https://github.com/SpongePowered/SpongeForge/issues/947

[2016-10-11 23:16] FiveEYZ commented on #143
Still getting this http://pastebin.com/raw/LxjqjdiZ **every** time server unloads a dimension

forge-1.10.2-12.18.2.2098-universal
spongeforge-1.10.2-2098-5.0.0-BETA-1793
PermissionsEx-Sponge-2.0-SNAPSHOT-b142
griefprevention-1.10.2-2.1.0.77

[2016-10-12 01:36] #158 closed

[2016-10-12 01:36] #146 closed

[2016-10-12 01:44] #143 closed

[2016-10-12 02:29] bloodmc commented on #178
@inklit Yup, this is already on my TODO list. I'll take a look this weekend.

[2016-10-12 03:39] ryantheleach commented on #160
Is this on 1.8.9 or 1.10? I've been using our pokeloots inside a GP admin claim just fine?

I did have it set to once per player though.

[2016-10-12 10:09] aglarcz commented on #160
Its on 1.8.9

[2016-10-12 14:39] OblivionNW opened #179 "Duplication Glitch"
1) Simply find a claim (you don't have permission in)
2) Get the claim owner to put a block at the very edge
3) Put a sticky piston two blocks away
4) Activate it
5) The block remains in its position and duplicates in the pistons pull back position
Example GIF: https://gyazo.com/50be337b30f54e5ee476d98ddf510dc0

Tested using latest SpongeForge for 1.8.9 (1.8.9-1890-4.2.0-BETA-1762) and the latest

[2016-10-14 01:33] inklit commented on #169
Just thought I'd mention when claims are overlapping, it takes like 4x attempts to delete the claim before the land is actually unclaimed again.
It sort of switches between the overlapping claims about twice.

Also, there's other odd behaviour in overlapped claims, such as some(?) events not really being cancelled properly (onBlock.pre for example is not cancelled at all when a claim overlaps - te

[2016-10-15 23:20] LemADEC opened #180 "Tinker's construct bypass"
Tinker's construct provide a mining explosive named EFLN (tconstruct:throwball:1) that is bypassing claim protection.
Reproduced in SMP with:
TConstruct-1.7.10-1.8.8
griefprevention-1.10.2-2.1.0.82
spongeforge-1.10.2-2098-5.0.0-BETA-1799
forge-1.10.2-12.18.1.2095
...

[2016-10-16 20:29] FiveEYZ opened #181 "GP fail to generate wilderness claimData files"
deleted my old world folder and GP only recreates the folders but no files

and because of that the console is going crazy with https://gist.github.com/FiveEYZ/c2d7f3cc7cbcd159be769e6a23cc9454

when i created a new file manually for the overworld  the spam in console stopped

using a shovel works fine

using:
spongeforge-1.10.2-2098-5.0.0-BETA-1808
forge-1.10.2-12.18.2.2107-universal
PermissionsEx

[2016-10-18 22:42] FiveEYZ opened #182 "[1.10.2] Could not pass SpawnEntityEvent after death in nether"
Died in the nether, when i respawned in overworld, this happen:
http://pastebin.com/raw/unz7yVUU

using:
spongeforge-1.10.2-2098-5.0.0-BETA-1808
forge-1.10.2-12.18.2.2107-universal
PermissionsEx-Sponge-2.0-SNAPSHOT-b142
griefprevention-1.10.2-2.1.0.83

[2016-10-18 22:52] FiveEYZ opened #183 "[1.10.2] GP stops working if a dim gets unloaded"
Teleported to nether ran around for a bit then used /home and as soon the dimension gets unloaded by sponge GP stops working:
http://pastebin.com/raw/rVZwBUZ7

all kinds of "Could not pass event" starts spamming the console

It will start working again when the dim gets loaded again, but it wont find the player claims made in overworld until server is rebooted.

using:
spongeforge-1.10.2-2098-6.0.

[2016-10-18 23:00] FiveEYZ opened #184 "[1.10.2] GP fails to update existing claim files"
After i manually had to create "Wilderness" claims for all dims + dims added by mods, GP gave this warning:
`01:44 Found mismatch world UUID in claim file .\world\DIM-1\GriefPreventionData\ClaimData\29b45087-4a68-44f1-bb58-9a7e9d6e6fa3. Expected 9d553e1a-430c-44b1-8901-1b555a75a1ea, found 37eaa52f-109a-468a-8450-2889ee4fa5e2. Updating file with correct UUID...`

but the files never gets updated wi

[2016-10-20 22:46] LemADEC opened #185 "Admin claims still having an owner?"
As found using griefprevention-1.10.2-2.1.0.82.jar + PermissionsEx-Sponge-142.jar, I've created an admin claim around our spawn a few days back.
Today, while being deop, no permissions, I can still break blocks inside the admin claim even with no permissions.
If another admin gets demoted, then she can't break blocks, like normal players.

Needless to say, this is quite confusing when testing your

[2016-10-21 02:08] inklit opened #186 "Skeleton projectiles can impact entities even when flag is false."
Even if you have `projectile-impact-entity` set to false, an arrow shot by a Skeleton can still break item frames.

I'm using SpongeForge 1762 1.8.9, Forge 1902, and GriefPrevention 81.

[2016-10-21 22:02] Eufranio opened #187 "[1.10.2] Players able to access OpenComputer's computers"
Players are able to open and interact with computers inside a protected claim.

[2016-10-21 23:28] inklit commented on #187
This is also a problem on 1.8.9.

[2016-10-22 18:16] LemADEC opened #188 "Quark chests support"
As of griefprevention-1.10.2-2.1.0.82.jar, placing Quark chests (quark:custom_chest and quark:custom_chest_trap) won't trigger the initial claiming like the vanilla oak chest does.

[2016-10-24 06:25] Vauxite opened #189 "Mod PSI. Dupe."
Hello

**Problem**
Protected blocks are duped when broken with a psi (break-spell). If the block is a container, items inside are duped as well.

**How to reproduce:**
1. Protect an area with griefprevention.
2. Have another player with psi break spell.
3. Break a block inside the claim.

**Modsource:**
https://github.com/Vazkii/Psi/blob/0b3ca4fa4d5bf293ec3b0486f83858c7320e5732/src/main/java/vazki

[2016-10-24 14:45] bloodmc commented on #189
@Vauxite Retest using SF 1836

[2016-10-24 14:59] #185 closed

[2016-10-24 15:02] bloodmc commented on #184
@FiveEYZ Did you run a world save after? Because it will not save right away.

[2016-10-24 15:02] bloodmc commented on #186
This has been fixed in SF 1836.

[2016-10-24 15:02] #186 closed

[2016-10-24 15:03] bloodmc commented on #168
Closing as there hasn't been a response in over a month.

[2016-10-24 15:03] #168 closed

[2016-10-24 15:14] bloodmc commented on #183
I cannot reproduce this issue using latest SpongeForge and only PEX/GP. It almost sounds like your claim files are using the wrong world UUID. Update to latest SF and test with only GP/PEX. Also try testing a fresh world.

[2016-10-24 15:16] bloodmc commented on #181
@FiveEYZ Unable to reproduce this on my end testing with latest SF/PEX/GP. I wiped my world folder and everything was generated correctly.

[2016-10-24 15:17] bloodmc commented on #182
You are using a bugged version of SpongeForge. Update to latest.

[2016-10-24 15:17] #182 closed

[2016-10-24 21:09] Vauxite commented on #189
Sorry, still a thing with the following versions:
SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-cebc736
    SpongeForge: 1.10.2-2107-6.0.0-BETA-1836
    Minecraft Forge: 12.18.2.210

[2016-10-25 01:17] bloodmc commented on #187
@Eufranio This works fine for me, did you give players /containertrust or /accesstrust ? because this overrides the flags.

[2016-10-25 01:18] bloodmc commented on #150
This will be fixed when the following PR is pulled

https://github.com/jaquadro/StorageDrawers/pull/350

[2016-10-25 01:18] #150 closed

[2016-10-25 01:20] bloodmc commented on #157
There is nothing I can do about this on my end, the mod author would have to fix it on client-side.
Also the following PR fixes a bunch of issues with StorageDrawers and Sponge/GP

https://github.com/jaquadro/StorageDrawers/pull/350

[2016-10-25 01:20] #157 closed

[2016-10-25 01:20] Eufranio commented on #187
Nope. I tested going to a player base (where I don't have permissions, and being in the members rank). I wasn't able to open chests/use items/containers and stuff, but I was able to open the computer. The message shows up, but the GUI still opening. I'm using LuckPerms in MySQL mode, and the permissions are working.
A point, the GUI of the screen opens very fast, the opening doesn't seem to wait t

[2016-10-25 01:21] bloodmc commented on #122
This has been fixed in SF 1.10.2 1836+ builds.

[2016-10-25 01:21] #122 closed

[2016-10-25 01:21] bloodmc commented on #118
The following PR fixes all the issues reported in this ticket
https://github.com/jaquadro/StorageDrawers/pull/350

Once pulled, it will work fine.

[2016-10-25 01:22] #118 closed

[2016-10-25 01:22] bloodmc commented on #93
This no longer happens with latest 1.10.2 builds.

[2016-10-25 01:22] #93 closed

[2016-10-25 01:23] bloodmc commented on #101
This no longer occurs with latest 1.10.2 builds.

[2016-10-25 01:23] #101 closed

[2016-10-25 01:23] Eufranio commented on #187
Also, I'm using GriefPrevention 2.1.0.83, Minecraft 1.10.1, and SpongeForge 5.1.0-BETA-1814

[2016-10-25 01:29] Eufranio commented on #188
Maybe use OreDictionary instead the normal name of chests?

[2016-10-25 01:32] bloodmc commented on #187
Give me the exact block id that you are testing with. Also, you need to update to latest SF build and retest.

[2016-10-25 01:34] bloodmc commented on #187
Also make sure you are using a recent version of LuckPerms as older ones had some bugs.

https://ci.lucko.me/job/LuckPerms/

I only tested with PEX where everything worked as expected.

[2016-10-25 01:47] Eufranio commented on #187
I am using latest LuckPerms, tomorrow I give you the ID and update SpongeForge, too late atm xD

[2016-10-25 02:16] inklit commented on #187
@bloodmc Please test with a computer monitor with a keyboard attached. I believe that is what he is referring to, not computer cases.

I tested this on 1.8.9 with PermissionsEx and it's an issue there too.

[2016-10-25 06:11] #126 closed

[2016-10-25 15:13] weltandmelt opened #190 "Commands are getting blocked by wilderness administrator,"
Commands are getting blocked by wilderness administrator, how do i fix this? http://pastebin.com/aDUn3vVP thats my pex permission file

[2016-10-25 17:30] Eufranio opened #191 "Pumps can't interact and aren't listed in the /trust"
I have a IC2 and ImmersiveEngineering pumps. When i place them and supply with energy, they won't work inside a claim. I can't use /trust #[IC2] because it is not listed as fake player, and that player isn't online.

[2016-10-25 21:15] weltandmelt commented on #190
http://pastebin.com/rAuAJwRY thats the current pex file

[2016-10-26 02:40] Deathwhitch opened #192 "Startup/shutdown Error"
Get this weird error on start up and shut down. Think it has to do with saving. Any flags added do not persist on a server restart.

Sponge Forge 1820
Minecraft 1.10.2
Pixelmon 5.0 Beta 10
Pex 145 (newest)

http://pastebin.com/zLJB5Sbs

[2016-10-26 20:37] weltandmelt commented on #190
i think i fixed this, i think it was because some perms were set at -1 and not 0.

[2016-10-26 20:37] #190 closed

[2016-10-27 03:12] Reko420 opened #193 "Ftb HermitPack 1.2 +GP Blockplacing"
When holding a block in your hand and interacting it places the block..... If you try to access a crafting table it will place the block on top of the table then open the gui if you click a bed it will place the block then sleep... same with furnaces, chests....

Ticket Submitted Per @bloodmc Request.

[2016-10-27 04:54] #188 closed

[2016-10-27 05:46] bloodmc commented on #187
@Eufranio @inklit This was caused by OpenComputers only opening the GUI on client-side and never telling the server about it as seen here

https://github.com/MightyPirates/OpenComputers/blob/master-MC1.10/src/main/scala/li/cil/oc/common/block/Screen.scala#L86

I pushed a fix for this in SpongeForge. Update to 1845+

[2016-10-27 05:46] #187 closed

[2016-10-27 07:10] #193 closed

[2016-10-27 07:15] bloodmc commented on #189
@Vauxite Provide a player dat file as I have no idea how to use this mod to create a spell.

[2016-10-27 17:29] Vauxite commented on #189
Sorry for the delay. Here is a playerfile, with a casting assistant device.
https://dl.dropboxusercontent.com/u/13951379/890589be-2581-4195-b0c0-b37cb42e5dc2.dat

[2016-10-27 17:29] OblivionNW commented on #160
I can confirm this is an issue

[2016-10-27 17:29] OblivionNW commented on #179
maybe related to #160?

[2016-10-27 19:06] bloodmc commented on #180
@LemADEC OK I'll look into this soon.

[2016-10-27 22:03] Eufranio opened #194 "Handle Mana Bursts"
i Botania is a magic minecraft mod, and it adds a lot of game mechanics and stuff. It's main system is **mana**, and players are able to create Mana Bursts to grief other player's claims. Players can create Mana Bursts using Mana Blasters (this is like a gun, that fires the burst with the characteristics of the lens that the blaster is using). Screenshot:

 ![cda5481a1295428cb090c5a9b9b746d3](http

[2016-10-28 03:15] bloodmc commented on #189
@Vauxite I cannot reproduce this with latest SF and GP. Retest with GP 91 and SF 1847

[2016-10-28 03:44] bloodmc commented on #191
In order to fix this, both IC2 and ImmersiveEngineering will need to fire Forge's FluidEvent which can be found here

https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/fluids/FluidEvent.java

I already spoke to @Aroma1997 who plans to add these events in a few weeks when he gets more time. I would log a ticket for IE to get this done as well and any othe

[2016-10-28 07:16] #189 closed

[2016-10-28 13:01] bloodmc commented on #194
@Eufranio Can you test latest GP/SpongeForge? I wasn't able to grief with a Bore Mana Blaster. I still need to test the Mana Spreaders.

[2016-10-28 18:27] Eufranio opened #195 "Remove claim message when the user doesn't have permission to claim land"
My suggestion is that, when you scroll trough the claim item, the claim message doesn't be sent if the user don't have permission to claim land, this is kinda illogical :P

[2016-10-28 23:21] #147 closed

[2016-10-29 08:55] Vauxite opened #196 "item-spawn bug"
Hello

**Problem**
- EnderIO machines are deleted when wrenched.
- RFtools machines are deleted when wrenched.
- Soulbound tinker tools are not placed inside the gravestone on death.

**How to reproduce**

Use Yeta wrench on a enderio machine in your claim with item-spawn set to false (default).

Use Smart Wrench on a RFTool machine in your claim with item-spawn set to false (default).
1. Soulboun

[2016-10-29 16:40] Mohron opened #197 "PvP item drop prevention bug"
Sponge: spongeforge-1.10.2-2098-5.1.0-BETA-1814
GP: griefprevention-1.10.2-2.1.0.95

Hi on my server myself and other players have been having issues with the setting that prevents item dropping during PvP combat. Instead of returning the item to the player's inventory it is vanishing completely.

[2016-10-29 19:12] bloodmc commented on #196
@Vauxite Please confirm this has been fixed.

[2016-10-29 20:46] Vauxite commented on #196
Wrenched machines are fixed. But soulbound tinkertools are lost upon death (not in player inventory or gravestone).

[2016-10-29 21:07] bloodmc commented on #196
OK I'll take a look soon.

[2016-10-31 03:41] bloodmc commented on #196
@Vauxite The soulbound bug is a SpongeForge issue which I am currently fixing. Please re-create this ticket on SpongeForge.

[2016-10-31 03:41] #196 closed

[2016-10-31 03:42] bloodmc commented on #192
@Deathwhitch Does this happen with latest SF and GP?

[2016-10-31 06:21] #98 closed

[2016-10-31 12:47] Deathwhitch commented on #192
Hadn't thought of that, deleting that wont mess with anything else though will it?

[2016-11-01 18:42] hunter688 commented on #167
Got it:

<pre>
        CreateClaimResult result = pluginInstance.dataStore.createClaim(
                world,
                0,
                10,
                0,
                255,
                0,
                10,
                UUID.randomUUID(), null, Claim.Type.BASIC, false, player);
</pre>

[2016-11-01 18:42] #167 closed

[2016-11-02 01:45] leelawd commented on #189
I am still getting this same issue on all the updated versions.

Currently running:
Fresh server with these mods / versions

Psi - 1.0.41
AutoRegLib - 1.0.2 - required by psi
SpongeForge - 1.10.2-2107-6.0.0-BETA-1860
Forge - 12.18.2.2107
GriefPrevention - 1.10.2-2.1.0.109
PermissionsManager - 2.5.0 (Has the GP Support, Everything else works)
Also tried with another permissions system, just in case

[2016-11-03 15:12] leelawd opened #198 "Psi Dupe still not fixed?"
I am still getting this same issue as #189

Currently running:
Fresh server with these mods / versions

Psi - 1.0.41
AutoRegLib - 1.0.2
SpongeForge - 1.10.2-2107-6.0.0-BETA-1860
Forge - 12.18.2.2107
GriefPrevention - 1.10.2-2.1.0.109
PermissionsManager - 2.5.0 (Has the GP Support, Everything else works)
Also tried with another permissions system, just in case.
LuckPerms - 2.13.43

I also have the

[2016-11-03 16:53] bloodmc commented on #198
@leelawd Does it happen with SF 1866?

[2016-11-03 17:01] leelawd commented on #198
Cannot reproduce this now with the latest 1867. Thank you.

[2016-11-03 17:01] #198 closed

[2016-11-03 19:41] i9hdkill opened #199 "[1.10.2] pixelmon:warp_plates are not working for users"
To reproduce:
place a warpplate in the wilderness, stand on it and type /warpplate set <x> <y> <z>
Login in with an user account and try to use the plate. It doesn't work.

[2016-11-04 02:47] Mohron opened #200 "[Request] Option-based Configs"
I would like to have some of the config-options currently set via the config file switched over to permission-options for greater customization. I propose the following configs be switched over to options:

- initial-claim-blocks - Allow you to change a players base claim block amount by option
- max-accrued-blocks - Allow you to increase a players max claim blocks by option
- player-all-claim-exp

[2016-11-04 13:57] KumaGetsu opened #201 "griefprevention-1.10.2-2.1.0.118"
Type /cp shows this error in-game (did not give error in console).
http://puu.sh/s6bD0/1b1c736736.png

[2016-11-04 14:01] KumaGetsu opened #202 "/cp issue"
griefprevention-1.10.2-2.1.0.118

Used 'cp nucleus.home.base false' while inside of a subdivided admin claim to prevent players from using a command. The player is still able to use the command (/sethome).

[2016-11-04 14:07] KumaGetsu commented on #201
Here is a console message about the error.

[2016-11-05 12:06] i9hdkill opened #203 "Add explosion-block-damage flag"
See title, useful when you want to let users use tnt, but don't want them to blow up blocks.

[2016-11-06 09:24] bloodmc commented on #202
@KumaGetsu Are you using PEX or LP? Because there is a bug in LP with context calculators causing /cp commands not to work. I already reported it to dev. However, PEX should work fine. If not, let me know.

[2016-11-06 09:24] bloodmc commented on #201
Fixed in commit
https://github.com/MinecraftPortCentral/GriefPrevention/commit/d985a08a7068cf7764f8897f7a3f3486f1e7b28c

[2016-11-06 09:24] #201 closed

[2016-11-06 19:31] #202 closed

[2016-11-06 23:38] i9hdkill opened #204 "Store claimdata in /config/GriefPrevention/worldname/uuid and Playerdata in /Griefprevention/PlayerData"
See title.
This would make regenerating and switching worlds easier and at least I think it's a lot cleaner that way.

[2016-11-09 00:14] dvhaldane opened #205 "Griefprevention will not use MySQL datastore"
**Version:** griefprevention-1.10.2-2.1.0.126.jar
**Sponge Version:**

[18:24:42] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-bd88c91
    SpongeForge: 1.10.2-2107-6.0.0-BETA-1873
    Minecraft Forge: 12.18.2.2120

**Config settings:**

database {
        # password
        password="griefprevention"
        # url
        url="jdbc:mysql://localhost:3306/gp

[2016-11-09 17:33] bloodmc commented on #205
dupe #125

[2016-11-09 17:33] #205 closed

[2016-11-09 17:57] #204 closed

[2016-11-09 18:46] dvhaldane commented on #205
damn.. I thought I had looked for dupes.  thank you @bloodmc

[2016-11-10 00:24] inklit opened #206 "Some claims not loading with migration from 1.8.9->1.10.2"
## Versions
Using `forge-1.10.2-12.18.2.2123-universal`, `spongeforge-1.10.2-2123-6.0.0-BETA-1876`, and `griefprevention-1.10.2-2.1.0.129`.

## Problem
When I updated my server from 1.8.9 to 1.10.2, I noticed that a ton of claims were missing from the areas near spawn.
I figured out very quickly that GriefPrevention has failed to load over 50 claims with this error message.

The error will repeat

[2016-11-10 02:43] inklit commented on #206
It seems removing these lines from the file fix the corruption - but this is a long and tedious process with 60 claims and I don't know if it will happen again.

[code]

[2016-11-10 02:53] bloodmc commented on #206
@inklit this was actually a configurate bug which was patched in Sponge API then recently removed. Try removing the header to see if that solves the issue.

[2016-11-10 03:01] inklit commented on #206
Odd. I tried removing the header and it does not seem to have any affect. However, removing any instance of `claim-farewell`, `claim-greeting`, and `claim-name` allows it to load again. I'll try removing the header again.

[2016-11-10 03:17] bloodmc commented on #206
Ah yes Text serialization was changed in 1.9+ in SpongeAPI. I'll see if I can come up with a migration tool but don't count on it anytime soon.

[2016-11-10 03:19] inklit commented on #206
I've found that the easiest way to deal with this problem is to simply delete lines that contain `claim-farewell=`, `claim-greeting=`, and `claim-name=`. The = is important, because properly serialized text will use brackets instead of =, so you'll only be deleting lines that are not supported anymore.

Surprisingly enough, there is content in my files that is properly serialized already, so it wo

[2016-11-10 03:24] #206 closed

[2016-11-10 03:38] bloodmc commented on #206
Great thanks!

[2016-11-10 06:28] #181 closed

[2016-11-10 06:28] #183 closed

[2016-11-10 06:28] #184 closed

[2016-11-10 23:43] FiveEYZ commented on #118
Players are still able to extract the items from a storage drawer all other issues are fixed

it tell me "you don't have claimOwner's permission to use that" but i still get the item from the drawer in hand.

can anyone else try to confirm this?

[2016-11-10 23:44] Eufranio commented on #118
Are the items real? I've got only fake items...

[2016-11-11 14:23] FiveEYZ commented on #118
think i know whats going on... the version of the mod i have is to old and dont contain the PR blood made,
sorry for bringing this up :S

[2016-11-11 22:06] inklit opened #207 "onBlockPre discrepency between 1.8.9 and 1.10.2 with ComputerCraft"
## Explanation
ComputerCraft Turtles on 1.10.2 are unable to break **any** blocks in claims, even if the claim owner was the last person to interact with or place the Turtle.
From my understanding, isBlockProtected returns true if onBlockPre is cancelled, which prevents the Turtle from breaking blocks.

## Expected Result
The expected result is that onBlockPre is **not** cancelled for Turtles that

[2016-11-11 22:44] Lemmmy opened #208 "Extreme lag caused by onEntityCollide check"
A bunch of cows in a pen on 1.10.2 are causing a huge amount of lag.

![](https://slack-imgs.com/?c=1&url=http%3A%2F%2Fi.imgur.com%2FKR8ELRe.png)

[2016-11-11 22:46] Lemmmy commented on #208
if the information is relevant, there are a lot of baby cows too

[2016-11-12 03:52] bloodmc commented on #208
@Lemmmy Need more information.... What Sponge build? What GP build? What PEX build? What mods/plugins ? etc.  Also provide a link to a timings report.

[2016-11-12 03:55] bloodmc commented on #207
GP 1.8.9 and 1.10.2 Block Pre logic is identical. You need to create a ticket for SpongeCommon as this has nothing to do with GP.

[2016-11-12 03:55] #207 closed

[2016-11-13 00:58] Lemmmy commented on #208
SpongeForge 1876
GP 129
Latest PEX (doesnt specify which version number)

[2016-11-13 05:12] bloodmc commented on #208
@Lemmmy switch from PEX to LuckPerms and retest

https://github.com/lucko/LuckPerms

Also, delete your ./config/sponge folder so it regenerates fresh. Post a timings report with LuckPerms installed.

[2016-11-13 18:27] nettyneets commented on #166
It would be great to at least be able to transfer subdivisions (maybe make it a seperate /plot) so that you can use /transferclaim to give the claim to someone else, which would then credit you back with the blocks spent and use up the new owners claim blocks instead. It would of course need to check that the player in question has enough claim blocks available for the /transferclaim to go through

[2016-11-13 18:28] bloodmc commented on #166
@nguyenquyhy @nettyneets I'm thinking of doing the following

1. Remove subdivisions. Instead, you will simply create a "sub-claim" that can be transferred to a new owner (essentially selling part of your land). This would allow players to claim a large area then start to sell pieces of it for a price. As for selling, this would need to be discussed on how the sale should take place. I'm open to i

[2016-11-13 18:42] nettyneets commented on #166
I think with regards to selling it would be good to have two options:
1) Open sale - let the player selling the claim set a price, and have some sort of chat notification letting you know that the claim is for sale, and the claim's price when you enter it. That way anyone could buy the claim by running a command without the seller's action.
2) Closed sale - let the owner put the claim up for sale

[2016-11-13 18:54] inklit commented on #166
@bloodmc I think this is an interesting idea; perhaps claims in the wilderness claim should also be considered "sub-claims" of the wilderness. This hierarchy would be much more organized.

In regards to selling, @nettyneets pretty much summed it up.

[2016-11-14 01:35] Mohron opened #209 "Access Trust: Redstone Lamps/Button Behavior"
GP: griefprevention-1.10.2-2.1.1.135.jar
SF: spongeforge-1.10.2-2123-6.0.0-BETA-1877.jar

If a person with access trust turns on a redstone lamp via a button it doesn't shut off.

[2016-11-14 01:45] Mohron commented on #209
@nettyneets' description is probably more accurate. The button indeed was stuck.

[2016-11-14 02:01] SnowBlitzz commented on #197
I'm having the issue as well, on the latest GP version 135, latest SF

[2016-11-17 07:12] Vauxite opened #210 "Firespread setting is ignored"
Hello

**Problem**
Fire spread even though it's configured to false by default  (in permissionsex in file mode). Setting the flag doesn't help either.

**How to reproduce**
1. /cf fire-spread any false
2. Use a flint and steel on nearby tree or burnable material
3. See the fire spreading

**Versions**
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-bd88c91
    SpongeForge: 1.10.2-2123-6.0.0-BE

[2016-11-18 06:15] SnowBlitzz commented on #210
You might need to update to the latest version and test again, both SF and GP.

[2016-11-19 02:42] KumaGetsu opened #211 "/ic giving access to admin claims"
You designed /ic to function only for admins, but I need this to work for lower ranked staff who should not have permission to change admin claims.

I'd like to request a perm (griefprevention.admin.command.admin-claims) check for players who use /ic before they can change blocks in an admin claim.

If you don't want the perm check by default then I'd like a config option to enable that perm check

[2016-11-19 20:57] LemADEC opened #212 "/claimlist not working with offline players"
As of griefprevention-1.10.2-2.1.1.135.jar + PermissionsEx-Sponge-145.jar + spongeforge-1.10.2-2123-6.0.0-BETA-1878.jar, the /claimlist command won't work when checking an offline player.

[2016-11-20 01:39] bloodmc commented on #210
@Vauxite Switch to LuckPerms https://github.com/lucko/LuckPerms as PEX hasn't been active for quite awhile and still has a few bugs that need fixing. You can also just use the doFireTick rule. Let me know if it doesn't work with LP. LP has a migrator from PEX so it should be quite easy to move.

[2016-11-20 01:40] bloodmc commented on #212
This command has been rewritten with new features and support for offline players. It will be included in next build.

Here is a sneak preview
http://i.imgur.com/CVcz6db.png

[2016-11-20 04:31] SnowBlitzz commented on #211
Or just separate the /ic command to /ignoreclaimadmin = /ica and /ignoreclaimbasic = /icb

[2016-11-20 10:01] LemADEC opened #213 "Missing in-game parameters help for entity-spawn flag"
As of griefprevention-1.10.2-2.1.1.135.jar, when trying to use the entity-spawn claim flag, I can't find a proper definition in-game of the possible parameters.
Typically, when I look for it, ones type: /claimflag entity-spawn x, or /claimflag help, or /gp help.
Here, none of those provide an hint at the solution.

I've tried using /claimflag entity-spawn any false, but I'm not sure it does what I

[2016-11-20 15:31] Vauxite commented on #210
@bloodmc  Thank you for your suggestion, I've actually been looking to moving for quite some time.
I've temporarily solved it by gamerule firespread false.

[2016-11-22 18:30] bloodmc commented on #213
@LemADEC I'll be working on better docs soon. The command would be as follows

/cf entity-spawn minecraft:monster false

The spawn types are animal, monster, aquatic, ambient.
You would do this for each "mod" type you want to block. I'll add a way to prevent all monster mobs soon.

Also make sure you are using the latest dev build of LuckPerms as PEX currently has some issues and hasnt been update

[2016-11-23 17:11] SquidDev opened #214 "Inconsistencies between ChangeBlockEvent.Pre and ChangeBlockEvent.Break"
I'm not 100% sure this is a bug in your code, and may be a limitation of Sponge but here goes:

I have an entity which breaks blocks and drops the resulting items. To check whether it can break blocks is uses `World.isBlockModifiable` (which fires a `ChangeBlockEvent.Pre`) and `BlockEvent.BreakEvent`. If these do not return false then the block is broken.

A fake player is provided to `World.isBlo

[2016-11-26 10:04] bloodmc commented on #208
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/391c11f8ba961784988be25c0403c2c3a5fd956c

[2016-11-26 10:04] #208 closed

[2016-11-27 22:30] IBGnova opened #215 "Override Trust Issue."
You can force trust players to a claim as op, but you can't /untrust them from said claim after the fact.

[2016-11-28 06:55] bloodmc commented on #215
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/7548a7796ef9f8d543a4b5d7782648f3cb8a83c4

[2016-11-28 06:55] #215 closed

[2016-11-28 06:55] bloodmc commented on #213
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/7548a7796ef9f8d543a4b5d7782648f3cb8a83c4

[2016-11-28 06:55] #213 closed

[2016-11-28 06:56] bloodmc commented on #212
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/7548a7796ef9f8d543a4b5d7782648f3cb8a83c4

[2016-11-28 06:56] #212 closed

[2016-11-28 06:56] bloodmc commented on #200
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/7548a7796ef9f8d543a4b5d7782648f3cb8a83c4

[2016-11-28 06:56] #200 closed

[2016-11-29 04:33] bloodmc commented on #169
@inklit Does this still occur with latest build?

[2016-11-29 06:21] bloodmc commented on #179
@OblivionNW Does this happen with latest GP 1.10.2 or 1.11 builds?

[2016-11-29 06:21] bloodmc commented on #145
@5igm Does this happen with latest 1.10.2 or 1.11 builds?

[2016-11-29 06:23] bloodmc commented on #141
This is resolved in latest builds.

[2016-11-29 06:23] #141 closed

[2016-11-29 12:56] inklit commented on #169
I'll test later today.

[2016-11-29 20:34] aglarcz commented on #179
yup, just tested on newest GP 1.10.2 and its bugged

[2016-11-29 23:46] LemADEC opened #216 "Players can edit signs in adminclaim"
Using forge-1.10.2-12.18.2.2124-universal.jar
+ spongeforge-1.10.2-2123-5.1.0-BETA-TEST2.jar or spongeforge-1.10.2-2123-5.1.0-BETA-1914.jar
+ griefprevention-1.10.2-2.1.1.135.jar
+ Direwolf20 1.10 1.0.0
a player can spam keys to modify a sign in an admin claim.

Sign edition is provided by a mod, probably Quark.

[2016-11-30 06:06] IBGnova opened #217 "OVERRIDE Flags Not Displaying in /cf"
As the title states OVERRIDE flags are not displaying in the /cf display.

[2016-11-30 07:08] #217 closed

[2016-11-30 21:03] IBGnova opened #219 ""CLAIM" flags are broken."
As the title states the flags classed as "CLAIM" flags are broken, they do not override "DEFAULT" flags as they should.

[2016-12-01 02:28] #219 closed

[2016-12-01 05:00] inklit commented on #166
@bloodmc and I were discussing this in Discord. Here is the points we discussed.

The plan for now is to allow you to create a new subclaims inside of subclaims. This would just set the claim parent to the subclaim that is above it.

Trivial by itself, but there is more specifics and logic that needs to be thought about here to facilitate towns.

## Town Creation
To create a town, you should simpl

[2016-12-01 05:07] bloodmc commented on #166
@nguyenquyhy @nettyneets @inklit @LemADEC @KumaGetsu @Vauxite @Mohron @Eufranio @OblivionNW @lightningo7 @IBGnova @hunter688 @5igm @Nentify @Karaga

Please discuss above as I plan on implementing town features as soon as everyone agrees on how this should all be setup.

[2016-12-01 05:58] lightningo7 commented on #166
I like the idea of what is presented however I do see some issues coming up.

Going back to the GPTown example let's say Player A is the founder of the town, he wants to control what people do and sets up a rule board saying that members can not use redstone devices in their claims or the member will be kicked out.
Player B joins the town, and is given his claim, at which point he decides to make

[2016-12-01 06:24] hunter688 commented on #166
And you'll have time for development SpongeForge @bloodmc ? Any dev helps you with this major feature of GP ? I prefer fixing major bugs in the server core instead adding new features to plugin which works very well.

[2016-12-01 08:56] Vauxite commented on #166
I believe that people who like the town-approach prefer a more RPG like system. What's proposed is just a limited version of the default system.

**How is the claim block count dealt with here?**
- A town should be assigned x players worth of blocks at creation.
- All players generation of claim blocks are pooled to the town itself. There should a bonus factor for having more residents in the town

[2016-12-01 10:46] IBGnova commented on #166
So what happens if "Player B" disbands his claim? I do like the idea stated above where if you leave the claim you will lose your claim blocks, as I see that being the only way to do it unless you make a sort of "Town Claim Blocks Bank" where all the claim blocks for the town are stored.

What about Town Ranks, will this be like every other town plugin where you can appoint people to manage certai

[2016-12-01 19:55] i9hdkill opened #220 "Players are getting claimblocks when using /abandonclaim instead of losing them"
GP 163
Usually, players should lose 25% of their claimblocks if they delete their claim:
`"griefprevention.abandon-return-ratio": "0.75",`
However, this works sometimes, but not always.

Sometimes you get 99% more blocks after deleting a claim.

[2016-12-01 20:32] bloodmc opened #221 "Context Calculator creating playerdata and crashing server"
http://pastebin.com/WYmWWt6G

[2016-12-01 20:33] i9hdkill opened #222 "Griefprevention tries to save weird .tmp playerfile. (timestamp - playeruuid)"
See title:
Error log:
http://pastebin.com/WYmWWt6G

[2016-12-01 20:43] inklit opened #223 "Plethora Laser item is able to catch mobs on fire"
Using GP 1.10.2 163, SF 1928, Plethora 1.0.0-beta3, ComputerCraft 1.8pr0, CCTweaks 1.2.4, and unborked-CC 1.0.4.

When shooting a laser beam at a mob inside of a claim, the mob is still caught on fire.

Additionally (however this is Plethora's fault I think) players can be caught on fire, too, even if PVP is off.

The Laser entity is an IProjectile, which is probably why.

[2016-12-01 20:46] #220 closed

[2016-12-01 20:46] #221 closed

[2016-12-01 20:47] bloodmc commented on #222
Dupe #221

[2016-12-01 20:47] #222 closed

[2016-12-01 22:06] LemADEC commented on #166
Sounds like Towny style grief prevention to me, which is good but implies a few things:
- town ranks: allow players to progress in the town hierarchy and gain new power/responsibilities
- nations: allow towns to regroup (probably not initially)
- taxes/rent periodically due to the mayor for your claim (claim upkeep) in addition to a 'buy' price
- taxes/rent periodically due to the server for your

[2016-12-02 00:50] Time6628 opened #224 "Small enchancement, default world or global used for /acb"
Would be nice if when you do /acb from console you didn't have to specify a world and it would just use the default or global world.

[2016-12-02 09:05] SquidDev commented on #223
The issue is that `EntityLaser` does not extend `EntityThrowable` as it does unwanted things. Consequently `SpongeCommonEventFactory.handleCollideImpactEvent` is never fired, and so `CollideEntityEvent` is never fired.

I guess I could invoke `handleCollisdeImpactEvent` conditionally from my code, and cancel if it fails. Whilst it may not be the most elegant of solutions, it should mean it interac

[2016-12-02 18:44] i9hdkill opened #225 "issue with /abandonallclaims File issues"
User is trying to use /abandonallclaims

http://pastebin.com/RMyvS3Ck

Errorspam lags the whole server.
GP 168
SF 1928

[2016-12-02 18:54] i9hdkill commented on #225
That palyer also has a weird player file:
http://prntscr.com/del05u

Not sure if the file caused the issue or the issue caused this file.

[2016-12-02 18:56] ghacproductions commented on #225
Just to make sure its not the command that is displaying wrong stuff:
http://puu.sh/sBXc0/177406a4ee.png

[2016-12-02 21:46] i9hdkill opened #226 "/playerinfo <player> shows own playerinfo if target player is offline"
See title.
GP: 168

Add error message if player if offline.

[2016-12-03 05:52] #209 closed

[2016-12-03 05:59] inklit commented on #226
Also note that it changes the world to the default world in addition to looking up your own player when looking up a player that is offline.

[2016-12-03 06:12] inklit commented on #214
Up until commits https://github.com/MinecraftPortCentral/GriefPrevention/commit/9ae267ba960d2501299962d6a7353439f95e07da / https://github.com/MinecraftPortCentral/GriefPrevention/commit/a2ea4ef230c20fa69e8244ab1c0a4d3ea9ceeff7, isBlockProtected/ChangeBlockEvent.Pre only checked whether or not you were allowed to place a block in a claim.
If you were allowed to place a block but not allowed to brea

[2016-12-03 18:21] inklit opened #227 "entity-teleport-to flag does not work"
Pretty self explanatory. You are able to teleport into players claims even if you shouldnt be allowed to, by using Chorus Fruit.
`/cf entity-teleport-to any false`
Running GP 173+ (Dev TEST3 build you sent me, but is likely equivalent to 163 or what will be 164)

[2016-12-03 18:22] inklit commented on #227
Actually after some testing, it seems like entity-teleport-to flag does not really work at all for players. Not sure about mobs.

[2016-12-03 22:42] i9hdkill opened #228 "player claims + activating sticky pistons will remove piston."
Place a pressure plate near a piston. Give ability to active pressure plates with block-place pressure-plate
Piston will extend, but when going back, they disappear or get broken, because block place is cancelled.
Pretty much the same as pressure plates that are needing block-place to deactivate after stepping on it.

[2016-12-03 23:35] i9hdkill opened #229 "Could not pass AttackEntityEventLogEntry"
SF 1942
Forge 2171
GP 174
http://pastebin.com/D1WSUEXW

[2016-12-03 23:43] i9hdkill opened #230 "Blocks don't ge tupdated for other clients if mined."
SF 1942
Forge 2171
GP 174

Place blocks in your own claim. Mine them.
Other people will still see these blocks until they relogg or click these blocks.

[2016-12-04 03:45] inklit commented on #223
bloodmc and I found out that it's only Skeleton Horses that are affected by this.
I don't know why I did not test other mobs earlier, my apologies...I'll try to test more vigorously in the future haha.

[2016-12-04 06:35] bigbluu722 opened #231 "Animals in Claims"
Seems passive animals in claims are unable to be accessed by anyone inside claims other than the claim owner. Trusted users get an error mentioning "this does not belong to you". Is there any known work around on this? Or is it just a bug?

[2016-12-04 06:59] #160 closed

[2016-12-04 06:59] #163 closed

[2016-12-04 06:59] #199 closed

[2016-12-04 06:59] #216 closed

[2016-12-04 06:59] #224 closed

[2016-12-04 06:59] #228 closed

[2016-12-04 06:59] #229 closed

[2016-12-04 06:59] #230 closed

[2016-12-04 08:06] bloodmc commented on #214
This is fixed in latest GP builds.

[2016-12-04 08:06] #214 closed

[2016-12-04 15:05] i9hdkill commented on #230
Still happening on SF 1952 and GP 176

[2016-12-04 15:07] i9hdkill opened #232 "Players are able to build even if block-place is false"
SF 1952
GP 176
Players can build everywhere, even with block-place false.

[2016-12-04 16:44] #232 closed

[2016-12-04 17:04] OblivionNW opened #233 "Server Stalls when upgrading to 2.0.1.169"
When I upgraded to GriefPrevention 2.0.1.169 (MC 1.8.9) my server started stalling, no other changes were made. Stall report: http://pastebin.com/EmZqMxE4

[2016-12-04 17:20] i9hdkill commented on #230
Seems to fixed again with build 180

[2016-12-04 17:32] #226 closed

[2016-12-04 21:01] bloodmc commented on #233
@OblivionNW Try build 187

[2016-12-04 22:08] bloodmc commented on #179
This was fixed in 1.10.2. It will not be fixed in 1.8.9. Update to latest 1.10.2 SF and GP.

[2016-12-04 22:08] #179 closed

[2016-12-05 00:18] i9hdkill opened #234 "show default flag state for flags with context"
Like for any other default flag without context.

Actually they are shown with /cf source but default's are markes as override:
http://prntscr.com/dff10q

[2016-12-05 01:05] Slind14 opened #235 "[Feature] Staff Permission for Claim Transfer"
Hi blood,
it would be great to have permission which allows staff to transfer claims of other players. Very useful in the instance of the owner becoming inactive while his co-players are still playing.

[2016-12-05 21:22] ghacproductions opened #236 "interact-item-secondary does not apply on claim owner"
If interact-item-secondary is set to false, the item is blocked for every player but the claim owner.

GP 185
SF 1957

[2016-12-05 23:41] i9hdkill opened #237 "default flags are not applied correctly if true is selected"
GP 185
admin-claim example:
interact-block-secondary is set to true as default. (purple value)
claim specific (orange) is undefined
No override.

I rightclick a door or pixelmon PC.
Acess is denied.

If I set the claim specific flag (orange) to true, it works.

Same goes for item-spawn. Same setup as above, except with another flag.

Mine a block, it doesn't drop.
Use item-spawn as a claimspecific

[2016-12-05 23:45] i9hdkill opened #238 "Mining using silktouch does not drop blocks"
GP: 185
Use a pickaxe with silktouch and try to mine sand or grass: No drops
pex debug does not help.

SF 1957
Forge : 2171

[2016-12-06 03:31] KhaozFrost opened #239 "Manual Edits to Claim Data subdivisions"
So I attempted to goto the following file:
GriefPrevention/worlds/minecraft/overworld/Pixelmon/ClaimData
and edit a subdivision (I will bold exactly what I tried Editing:
        "06d88dd3-0940-4b3a-b831-6f54f1c9f71f" {
            accessors=[]
            builders=[]
            claim-type=SUBDIVISION
            coowners=[]
            **cuboid=true**
            date-created="2016-12-06T02:54:3

[2016-12-06 14:01] bloodmc commented on #237
This a bug in PEX not properly checking transient permissions. Migrate to LP or wait for PEX to fix.

[2016-12-06 14:01] #237 closed

[2016-12-07 03:00] i9hdkill commented on #238
Pex bug, (default perms not working)

[2016-12-07 03:00] #238 closed

[2016-12-07 05:03] dezil commented on #225
same issue here

GP 185
SF 1967

https://mega.nz/#!plt3FCrC!r4ZDnGxYX_NdUGbJG5WkVMiy2_0J9dJvm48w6kgIcMw

GP config file attached

[2016-12-07 14:11] bloodmc commented on #233
I cannot reproduce this issue. If you continue to have issues with PEX, try migrating to LuckPerms.

[2016-12-07 14:11] #233 closed

[2016-12-07 15:36] i9hdkill opened #240 "Cache some events like onBlockCollide"
Timings report shows a laggspike, very likely caused by Griefprevention when checking for BlockCollide.
https://timings.aikar.co/v2/?id=61a7c488e66a45d2970a272a6212c4f1&section=lag&start=1481123222&end=1481123344

[2016-12-07 18:06] #240 closed

[2016-12-08 19:40] i9hdkill opened #241 "chests are connecting when placed on claim borders and the claims are next to each other"
Just a minor flaw, but this can be used to steal items, if people put a single chest on their clameborder.
Player A places a chest on his border. Player B creates a claim directly next to Player A's claim and can now place a chest next to the chest from Player A.

Player B is no able to steal items from Player A.

[2016-12-08 23:56] inklit commented on #166
I disagree with the suggestions @LemADEC made because GriefPrevention is supposed to be controlled by the players and fully self sufficient without staff action. On top of that, the points made about complexity are irrelevent as most people wont go that deep.

[2016-12-09 16:06] axle2005 opened #242 "GP refuses to use new plugin folder."
Following the Sponge 1973 update, we tried to move GP to a new 'plugin' folder, however it is consistently generating the folder in the Config directory, and will only load claimdata and player data from there.

[2016-12-09 16:46] Nentify commented on #166
I don't really agree with this being in GP at all. If anything, I'd try cutting down GP to just land protection without "spam protection" and any other bloat. Perhaps move those features into another plugin.

[2016-12-09 17:12] inklit commented on #166
@Nentity at the very least, subclaims need to be allowed inside of other subclaims.

I agree with you,  though,  another plugin that use GriefPreventions API should be for town specific mechanics.

[2016-12-09 18:32] Slind14 opened #243 "/claimstransfer offline player support"
It would be great if claimtransfer would work with offline players.

[2016-12-12 20:40] ghacproductions opened #244 "Bad timings because of onPlayerInteractBlockPrimary"
See
https://timings.aikar.co/v2/?id=7b43d438006e4e97813eccda5879b42d&section=lag&start=1481572690&end=1481572810

[2016-12-12 20:50] #244 closed

[2016-12-13 21:43] #242 closed

[2016-12-14 11:58] axle2005 commented on #242
Global.conf still generates in the original Config folder, but everything else is in the new folder.

[2016-12-14 18:19] IBGnova opened #245 "collide-block for sand (Default Off)"
By default sand or other blocks with the same properties do not fall within claims.

[2016-12-15 04:48] hugeblank opened #246 "Enhancement: Creative plot world creation"
So plot^2 has this feature (as you probably already know) where you type in '/plot setup' and you can create a creative plot world. Thing is, Plotsquared is very ineffective, especially with modded items. Is there any way that I could do it with the existing versions of griefprevention, or would it be a possibility to port it over?

[2016-12-15 14:41] inklit commented on #246
Ideally you should just ask the developers of P^2 to fix their event handling.

[2016-12-15 14:51] #123 closed

[2016-12-15 14:53] inklit commented on #169
I believe that this is fixed, if it occurs again I'll create a new issue.

[2016-12-15 14:53] #169 closed

[2016-12-17 16:30] Mohron opened #248 "[Request] Cross Server Last Active for claim expiration"
For us running multiple servers, we are able to offer a lot of consistency for Grief Prevention thanks to its use of permissions and options that can be shared across servers. One important item missing from this data sharing is the `Last Active` info for a player. I personally don't want a player punished for switching to a different server for a while only to come back to a deleted claim.

I wou

[2016-12-19 09:39] hugeblank opened #249 "[1.10.2] GP is either too protective, or not protective at all"
Hi Blood!
**THE ISSUE**
So I've been spitting issues willy nilly trying to find a non-bugged anti-grief solution. I was hesitant to use GP because the permissions seemed a little intimidating (and rightfully so, I've been trying to fix an error I was 99% sure was on my part for the past 2 days), but effective as far as mods go (thank you BTC :P). I downloaded the plugin, and booted up the server.

[2016-12-19 09:46] hugeblank commented on #249
I should note that the first issue could POSSIBLY occur with having the server booted up with griefprevention, and then the second is every restart after.

I have not done enough testing, seeing as it's a pain in the rear, and I have no time :P. Will get on it later if it isn't figured out by someone else

[2016-12-20 03:49] inklit commented on #248
Good idea, maybe it should be best to store this in permissions which can be shared.

[2016-12-20 14:55] Sir-Will opened #250 "Gravestones create claims"
Graves from the GraveStone mod are creating claims like if you place a chest.

Is there any way to prevent this except disabling auto claiming completely?

[2016-12-21 03:23] inklit opened #251 "Severe lag with liquid flowing in GP claims"
**Problem**
The server will grind to a halt when you make a bunch of liquid waterfalls and then remove the source blocks inside of a GP claim.

This appears to be a tracking issue in Sponge, but since it only happens inside of GP claims I decided to open it here instead of SpongeCommon.

**Reproduction Instructions**
I tested in the End, so you probably should too but it should happen anywhere.
1:

[2016-12-22 03:46] bloodmc commented on #166
@Nentify these features won't alter the way GP works at all. I will simply make a new type of claim called "TOWN" that will enable these features. If you don't want any town features then you simply don't give permission to create towns.

[2016-12-22 05:00] bloodmc commented on #249
@hugeblank GP works perfectly fine with PEX and LuckPerms. Remove PM and retest using latest LuckPerms build

https://ci.lucko.me/job/LuckPerms/

PM is probably not handling GP permissions properly. If it works fine with LP then report the issue to PM dev as GP is already running on countless amount of servers and protecting them fine.

[2016-12-22 05:16] hugeblank commented on #249
Oh boy... another permissions plugin to unscramble. I'll edit the results in after testing.

[2016-12-22 07:47] #243 closed

[2016-12-22 15:53] i9hdkill commented on #251
Created an admin claim
Placed 20x20x1 high water.
Protected the area so no water flows into the wilderness.
Removed sourcce blocks.
Timings result:
https://timings.aikar.co/v2/?id=4f3e3f88dcf44030a384c41551cef014&start=1482421159&end=1482421297&section=all

Screenshot:
http://imgur.com/a/FRR3A

SF: 2003

[2016-12-23 15:45] i9hdkill opened #252 "Boots with frostwalker enchant causes massive no perm spam for players"
Enchant Boots with Frostwalker.
Go for a morning run on claims you do not own and try to read messages from other players in chat.

We probably need a special handling for that enchant=Do not send perm message if tried block change source is ice from frostwalker or so.

[2016-12-23 15:47] i9hdkill commented on #225
Got some new info:
/abandonallclaims deletes the proper amount of claim blocks if return-ratio is not 1.
But as the players can do that infinitely without the actual claims are getting deleted(because of an error), the players gets hundreds/thousands of negative claimblocks.

[2016-12-27 20:40] Eufranio opened #253 "No permission to use /cfr in a claim"
I have all GP permissions by the node **griefprevention** set. When using **/cfr** in wilderness it will work, when using it standing in a claim it will give the No Permission message.

![screenshot_1](https://cloud.githubusercontent.com/assets/17598280/21507949/dde34b80-cc63-11e6-836d-c84db5b2e173.png)

[2016-12-27 22:27] Eufranio opened #254 "Players can edit signs before the GUI gets closed by Sponge"
With Quark mod installed, players can edit signs by just right-clicking in it and typing. When the interact event is cancelled, Sponge automatically closes the GUI, but the player is able to write on it before the GUI get closed, and it can cause trouble in servers using sell signs.
Vazkii stated that the edit is only completed when the player has permission to write there, as stated here: https:/

[2016-12-27 22:29] Eufranio opened #255 "Suggestion: show/hide No Permission message in claims"
I would like to have an option or claim flag that hides the No Permission message from players. That's because players are spammed with this message every time they right click something in my spawn, and it can be annoying.

The command would be **/cf show-deny-message true/false [override]**

[2016-12-28 00:26] Eufranio opened #256 "Breaking the first claim block won't delete the claim"
When the first player claim is created when he places an container, after break the container the claim won't be removed. This creates ghost claims in the world.

[2016-12-28 00:28] Eufranio opened #257 "Change the first claim block for a chest"
Actually, it covers all modded containers, my suggestion is only create claims if the blocks IS a chest. This also should fix https://github.com/MinecraftPortCentral/GriefPrevention/issues/250.

[2016-12-28 00:35] Eufranio opened #258 "Command for kill entities in a claim"
1. Player/admin enter in the claim
2. Type the command (like /claimkill or /claimclear)
3. The command would remove all mobs from the claim. Admins could use **/claimclear all**, that would clear all mobs from the world, or **/claimclear wilderness**, and kill only wilderness mobs.

I would also like to be able to do it by console or from a remote location, like /claimclear <claim ID>, then we cou

[2016-12-28 01:06] Mohron opened #259 "[Request] Claim Property/Permission/Flag to Deny Resizing"
Please add the capability to prevent players from resizing their claim(s). However you best see it implemented will work for me as I will be utilizing it for my plugin SkyClaims. This could also be useful for the future town features as the town subclaims will likely need to be locked in size. I'm thinking a property in the `Claim` object makes the most sense as long a servers have a way of utiliz

[2016-12-28 03:44] Eufranio commented on #194
Both are fixed in the latest GP builds.

[2016-12-28 04:46] Eufranio commented on #121
I vote for a red wool line in the borders, and also would like to see this feature.

[2016-12-28 04:48] Eufranio commented on #102
Yep, would be nice a prefix like **Entering in <playername>'s claim > [farewell here] **, and have it configurable in the messages file.

[2016-12-28 04:50] Eufranio commented on #100
This feature isn't implemented yet.

[2016-12-28 05:51] bloodmc commented on #250
@Sir-Will This will be fixed next build.

[2016-12-28 07:56] bloodmc commented on #211
@KumaGetsu @SnowBlitzz This has been fixed for next build. Each claim type now checks a corresponding permission.

[2016-12-28 08:01] bloodmc commented on #26
https://github.com/MinecraftPortCentral/GriefPrevention/wiki/Options

You can handle expirations with options now. The /transferclaim command has been rewritten to support both offline/online users.

[2016-12-28 08:01] #26 closed

[2016-12-28 08:22] bloodmc commented on #31
@ryantheleach This will be available in next build.

[2016-12-28 08:24] bloodmc commented on #33
Latest build no longer uses the /gp command and all commands support tabbing.

[2016-12-28 08:24] #33 closed

[2016-12-28 08:24] bloodmc commented on #89
@inklit Is this still an i ssue with latest build? If not close ticket please.

[2016-12-28 08:28] bloodmc commented on #102
@inklit This has been fixed in upcoming build. All greeting/farewell messages will have the standard GP logo text that shows up during debug.

[2016-12-28 08:28] bloodmc commented on #103
This is not an issue with 1.10.2

[2016-12-28 08:28] #103 closed

[2016-12-28 08:29] bloodmc commented on #113
This is no longer an issue in latest builds.

[2016-12-28 08:29] #113 closed

[2016-12-28 08:34] bloodmc commented on #236
Overrides have been fixed in upcoming build.

[2016-12-28 10:09] inklit commented on #102
@bloodmc Thanks :)

[2016-12-28 10:15] inklit commented on #89
Nope, doesn't appear that it is.

[2016-12-28 10:22] inklit commented on #89
actually my test was invalid - I tested again properly and this is indeed still an issue.

[2016-12-28 10:35] inklit commented on #254
Are you sure that the modified content gets saved server-side?

[2016-12-28 23:54] bloodmc commented on #192
This is no longer an issue in latest builds.

[2016-12-28 23:54] #192 closed

[2016-12-28 23:55] bloodmc commented on #234
This has been fixed for upcoming build.

[2016-12-28 23:55] bloodmc commented on #253
This has been fixed for upcoming build.

[2016-12-30 04:15] Eufranio commented on #254
Yes, they are and it will be fixed in the next GP build

[2016-12-30 22:02] Eufranio opened #260 "Duping seeds with Horn of the Wild from Botania"
I did a gif of the problem:

Horn of the Wild: https://gyazo.com/b5fa9515e798efc839fa53fcea43926c
Horn of the Canopy: https://gyazo.com/772a23e676c82fe0a80ff8d1c09208fa

The Horn of the Wild is a item from Botania mod that breaks grass. While GP/Sponge can prevent the block from being broken, it does not prevent the grass from dropping the seed. Same happens with Horn of the Canopy, that breaks le

[2016-12-30 22:47] Eufranio commented on #194
The protection of Mana Bursts is not complete.

Using all other lenses, they works as expected, including in claims that you don't have permission. By example, I can kill mobs with Mana Lens: Damage inside a claim where I don't have permission, entity-damage is false, interact-item-primary/secondary is false, push/pull items with Mana Lens: Influence, and these lens can be used on Mana Spreaders (

[2016-12-30 22:53] Eufranio opened #261 "Item-Pickup flag isn't working"
I have this flag off in a claim, and I can still pickup the items. Also tried override, same problem.

[2016-12-30 23:05] Eufranio opened #262 "Players are able to take animals from a claim with a Golden/Cursed Lasso from ExUtils2"
1. Create a claim, deny anything you want and spawn a sheep
2. Use /cfd and click in the mob with a golden/cursed lasso from Extra Utilities 2 mod
3. Wow, you have a mob in the lasso now! And you can't put it there anymore.

[2016-12-30 23:16] Eufranio opened #263 "Players can void liquids from ExUtils2 drums"
Not sure if it's a issue with GriefPrevention or ExtraUtils2 itself, but whenever a player tries to break a drum with liquids inside and doesn't have permission for, the liquids are voided.

[2016-12-30 23:24] Eufranio opened #264 "Rod of the TerraFirma can build on protected areas"
Rod of the TerraFirma is an item add by Botania Mod. It places/breaks layers of dirt/stone, but it is also able to place/break in protected areas. You can activate it outside a claim, and then walk in the direction of the claim: Dirt will start to be placed and stone to be broken.

1. Take an Mana Tablet and a Rod of TerraFirma from creative
2. Go to outside of an plot that you don't have permissi

[2016-12-30 23:37] Eufranio opened #265 "Using a Shard of Laputa near a claim causes an fireworks show"
Shard of Laputa is a item added by Botania, that creates islands by breaking the blocks of the ground and moving them higher. The problem is, if the item is used near a claim where you don't have permission, the item will "be activated" and will try to move blocks, but you don't have permission to. The result is an fireworks show:

![a](https://cdn.discordapp.com/attachments/215593150494801930/264

[2016-12-31 05:51] bloodmc commented on #261
Fixed in upcoming build.

[2016-12-31 06:41] bloodmc commented on #262
Fixed in upcoming build.

[2016-12-31 07:11] FiveEYZ opened #266 "[1.10.2] Player are able to break AE2 stuff"
Using a Network Tool from AE2, players are able to shift right-click a ME Cable and break it even if they are not trusted in the claim.

A message will say they "You don't have <name> permission to build here" but the ME cable still breaks.

Steps:
1. player1 make a claim
2. player1 place down ME Glass Cable(or any other AE2 block) in his claim
3. player2 have a Network Tool and shift right-click

[2016-12-31 07:42] bloodmc commented on #257
This has been fixed for upcoming build.

[2016-12-31 07:51] bloodmc commented on #263
Cannot reproduce with my current SF and GP build so probably fixed once i release it.

[2016-12-31 10:01] KasperFranz commented on #256
Pretty sure that this has been the case since forever (also with the 1.7.10 GP)

[2016-12-31 22:09] Eufranio opened #267 "Suggestion: allow-fly flag"
This would allow us to choose if we allow or not flying in claims, may be usefull for admin claims, spawns, etc.

[2016-12-31 22:24] Eufranio opened #268 "Players are able to attract items with magnets where pickup flag is false"
Using magnets from mods like EnderIO (Magnet) and Botania (Enhanced|Ring of Magnetizing), players are able to attrack items from claims where they don't have pickup permission, and collect them outside of the claim.

[2017-01-01 01:32] bloodmc commented on #268
Fixed in upcoming build.

[2017-01-01 03:57] Eufranio opened #269 "Can't exit claim via teleport when exit-claim is false"
GPDebug:

![a](https://cdn.discordapp.com/attachments/215593150494801930/264959942274973697/unknown.png)

[2017-01-04 02:37] Rasgnarok commented on #166
This, I agree with - players joining under a single leader's claim - a town, team, whichever you wish to call it, should have shared claim ressources. The idea is to make players group together, if they so want. If not, they can create their own claim which they can use the standard system for - with /trust as the only way to share it.

I disagree - there should be a way to divide the main claim,

[2017-01-04 03:27] bloodmc commented on #166
Google doc should be editable now.

[2017-01-04 22:42] Rob5Underscores opened #270 "Claims do not prevent damage from weapons in the off-hand slot."
Stick a diamond sword in your off-hand slot. Right click on another player, that's it.

I only list the above as a sanity check as I was indeed unaware of how the off-hand slot worked myself.

Sponge: 1.10.2-2202-5.1.0-BETA-2019
GP Build: 2015

Thanks

[2017-01-05 03:44] bloodmc commented on #270
@Rob5Underscores Diamond swords cannot be used in offhand so I have no clue what you mean by this. Only weapons that have right-click functions can be used such as a bow but that would still fall into another flag. What permissions plugin are you using?

"The main hand is also the only hand that can hit or break (left-click), even if there are no items in the main hand. This means that the off-han

[2017-01-05 14:41] Smackzter opened #271 "Crash on build 206"
https://hastebin.com/icijujupew.sql

Using
SpongeForge 2171 BETA 2009.
Pixelmon 5.1.0
various sponge plugins

[2017-01-05 15:21] FiveEYZ commented on #271
isnt 206 for 1.11?

[2017-01-05 16:08] Sir-Will opened #272 "Block place/break whitelist"
Would be great to have a place and break whitelist in the claims.
Currently graves don't spawn in claims which causes the loose of items.

[2017-01-05 21:20] bloodmc commented on #272
Uh you have multiple options.

1. Use overrides
/cf block-place gravestone true override
2. Use /cfg
/cfg group block-place gravestone true

[2017-01-05 21:20] #272 closed

[2017-01-05 21:21] bloodmc commented on #271
You are using GP 1.11 for MC 1.10.2 which will never work. Download latest GP for 1.10.2

[2017-01-05 21:21] #271 closed

[2017-01-05 23:17] Sir-Will commented on #272
Hm, that doesn't seem to work for me. It only works on the claim I'm standing in but not global.

[2017-01-06 05:18] Smackzter commented on #271
Forgive me i was looking at the wrong server. Build 197

[2017-01-06 07:15] bloodmc commented on #272
@Sir-Will you need to use override at end to make it global for the all claims of the type you are standing in.

[2017-01-06 08:49] #31 closed

[2017-01-06 08:49] #102 closed

[2017-01-06 08:49] #127 closed

[2017-01-06 08:49] #135 closed

[2017-01-06 08:49] #145 closed

[2017-01-06 08:49] #165 closed

[2017-01-06 08:49] #210 closed

[2017-01-06 08:49] #211 closed

[2017-01-06 08:49] #223 closed

[2017-01-06 08:49] #234 closed

[2017-01-06 08:49] #236 closed

[2017-01-06 08:49] #239 closed

[2017-01-06 08:49] #249 closed

[2017-01-06 08:49] #250 closed

[2017-01-06 08:49] #251 closed

[2017-01-06 08:49] #253 closed

[2017-01-06 08:49] #254 closed

[2017-01-06 08:49] #255 closed

[2017-01-06 08:49] #256 closed

[2017-01-06 08:49] #257 closed

[2017-01-06 08:49] #258 closed

[2017-01-06 08:49] #259 closed

[2017-01-06 08:49] #261 closed

[2017-01-06 08:49] #262 closed

[2017-01-06 08:49] #268 closed

[2017-01-06 09:09] Smackzter opened #273 "Crash Griefprevention 197"
https://hastebin.com/icijujupew.sql

Using
SpongeForge 2171 BETA 2009.
Pixelmon 5.1.0
various sponge plugins

Remade this issue as I accidentally got the griefprevention version of our 1.11 server, and not the 1.10.2 server which the crash occured on.

[2017-01-06 09:28] Smackzter commented on #273
Trying now with build 207 and Spongeforge 2202. Will see if the problem is fixed.

[2017-01-06 13:34] Rob5Underscores commented on #270
Apologies - misdiagnosed the issue.
This is down to a, currently unknown, mod in Sky Factory 3 which allows off-hand items to attack.
Is it still possible to add protection from this? If so, my permissions plugin is PermissionsEX, if it helps.

[2017-01-07 10:02] hugeblank commented on #249
muahaha! So I assume you found the issue? :P

[2017-01-07 19:48] Sir-Will commented on #272
Oh, that explains it. I did run it on admin claim only.
Works now, thanks.

[2017-01-08 00:55] bloodmc commented on #273
Cannot reproduce this issue using latest SF and GP. If you updated to GP 207, check your subdivision data as there was a bug that messed up boundaries.

[2017-01-08 00:55] #273 closed

[2017-01-08 05:54] KhaozFrost opened #274 "Latest GP Build Breaks Pixelmon Flags"
GP 214  - 1.10.2
SF 2022 - 1.10.2

http://prntscr.com/dsvvx5
new flag?

http://prntscr.com/dsvw4n
old flag?

I've tried using /cf entity-spawn pixelmon:animal false
it tells me to many arguments
i've tried doing /cf entity-spawn pixelmon:any false
it puts the flag shown in the first screenshot but that doesnt block the spawning

[2017-01-08 10:07] #274 closed

[2017-01-08 20:18] #225 closed

[2017-01-09 02:06] i9hdkill opened #275 "You cannot switch between admin/basic + server idles forever if trying to do so"
GP 218

Create an admin claim.
Use /claiminfo and click on "admin"
Claim is now gone(wilderness)
if you hit wilderness in /claiminfo or scroll up the chat to click admin again, server hangs forever.
fml-log during this:
https://pastebin.com/aPUieiER

[2017-01-09 08:12] Mohron opened #276 "[API] Allow null/unspecified owner for Admin claim creation"
Admin claims do not have an owner and should not require one to be provided at creation. As for claim creator, if no owner is provided, maybe the provided cause can be used instead (the plugin is the creator after all).

[2017-01-09 08:51] bloodmc commented on #275
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/3dd09c0afa345020bfdefffe31825cab17101b9b

[2017-01-09 08:51] #275 closed

[2017-01-09 08:51] bloodmc commented on #276
Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/3dd09c0afa345020bfdefffe31825cab17101b9b

[2017-01-09 08:51] #276 closed

[2017-01-09 16:37] Mohron opened #277 "[API] Add method to get/set flags on Claims"
Please add a method to get/set flags with a Claim object ie.
'Claim#getFlag(FlagType flagType)'
'Claim#setFlag(FlagType flagType, Tristate flagValue)'

Thank you for your consideration!

[2017-01-09 16:48] Mohron opened #278 "[API] Add event for changes in claim Trust"
Add an event that triggers when a player attempts to add or remove a player to their claim trust. This will allow other plugins to act upon these changes or even prevent them in cases where its required.

Example use case:
Many servers running skyblock wish to limit their players to only one island (claim). In order to make this work without removing access to GPs trust system altogether, a plugin

[2017-01-09 16:59] Mohron commented on #267
This would probably make more sense as an Admin claim setting like resizable, expires, and PvP.

[2017-01-09 18:15] Slind14 opened #279 "Overlapping Claim coordinates on claim creation failure"
It would be great for administrators and players to be informed which claims are overlapping and where they are. This is incredible helpful when dealing with huge claims.

A common case is the protection of spawn including the area around it, to avoid the outside visuals from being destroyed.

A permission which gives the additional information about the overlapping claims might be a good approach

[2017-01-09 18:34] Mohron commented on #279
I would say that a bonus would be to have the error output  include a link to delete any overlapping claims when attempting to make an Admin claim. Just a QoL feature.

[2017-01-10 06:14] GershonR opened #280 "Teleports Don't Work"
It seems that when you click on the coordinated in /claimlist it does not teleport you.

[2017-01-10 06:18] GershonR opened #281 "[Request] Enter/Leave Messages for teleports"
When you enter a claimed area you have no indication that you are in a protected place, so it's hard for moderators and players to tell whether who can build or break or not.

[2017-01-10 06:41] bloodmc commented on #280
@GershonR It works fine, you either dont have permission or you are using an outdated build.

[2017-01-10 06:41] #280 closed

[2017-01-10 06:59] Eufranio commented on #281
They can use the stick, and this feature exists already, it's called Greeting and Farewell.

[2017-01-10 17:45] i9hdkill opened #282 "Trusted people on admin claims are resetting on restart"
GP:223
SF: 2022
Create an admin claim.
Use /trust playerx
Player can now build, because it seemed to be cached.
Check the claim data file: Nothing was added.
Restart your server. Player cannto build anymore, as the trust entry never was added

[2017-01-10 22:08] Eufranio opened #283 "Can't prevent people from entering in wilderness"
I want that people don't enter in wilderness. In the past, I used `enter-claim` flag which worked perfectly, but now that there's no `enter-claim´ flag, I can't prevent people from entering wilderness. Tried:

**/cf entity-teleport-to any false**
**/cfg default entity-teleport-to any false**
**/cf entity-teleport-to minecraft:player false**

All while standing in wilderness. Nothing seems to work,

[2017-01-11 03:40] bloodmc commented on #283
No idea what you are talking about, enter-claim was never removed.

[2017-01-11 05:30] i9hdkill opened #284 "Could not pass ChangeBlockEvent$Pre$Impl liquid"
https://pastebin.com/1sztsVMH
GP: 224

[2017-01-11 05:50] #284 closed

[2017-01-11 07:49] Eufranio commented on #283
Here, it won't show in /cf...

[2017-01-11 22:23] i9hdkill commented on #282
Was caused due to old data format.
Change claim to basic and then back to admin to fix that

[2017-01-11 22:23] #282 closed

[2017-01-11 22:25] i9hdkill opened #285 "If water breaks stuff like wheat, flowers, grass, nothing will drop."
See above.

SF 2027
GP: 226
Forge: 2202
Tested in (default) wilderness and admin claim

[2017-01-12 03:30] bloodmc commented on #285
@i9hdkill this sounds like a Sponge bug, not GP. Test WITHOUT GP.

[2017-01-12 03:48] i9hdkill commented on #285
Yep, SpongeForge Bug. Just confirmed. Should I report it or do you take care of that?

[2017-01-12 03:48] #285 closed

[2017-01-12 18:17] IAmMrDavid opened #286 "GP not loading correctly/fully"
Griefprevention loads (listed in plugin/mod list), but not working in-game. Configs are also not generating.

- Forge-1.10.2-12.18.3.2202
- Spongeforge-1.10.2-2202-5.1.0-BETA-2026
- Griefprevention-1.10.2-2.3.0.226
- Error log: http://pastebin.com/FuRnqt0c
- Full log: http://pastebin.com/nfFEi8L6

Loaded with 2026:
- Error log: http://pastebin.com/0ebwR3Qh
- Full log: http://pastebin.com/2MeVKrD9

[2017-01-12 18:31] IAmMrDavid commented on #286
Fixed. Loaded with LuckPerms

[2017-01-12 18:31] #286 closed

[2017-01-13 12:09] phit opened #287 "Can no longer drop anything"
https://phit.link/s/2017-01-13_11-51-45.mp4
as you can see I can drop things with /gpdebug on, but not when it's off

ouput with verbose debug in console http://vpaste.net/6X5vk
full log https://gist.github.com/phit/68056f3a284af574dcf1b53d7f59945c

spongeforge-1.10.2-2202-5.1.0-BETA-2029
griefprevention-1.10.2-2.3.0.227

[2017-01-13 17:03] phit commented on #287
fixed by setting claims-mode to something else than 3 in the global.conf

[2017-01-13 17:03] #287 closed

[2017-01-13 18:57] curscascis opened #288 "Ignore Claims Won't allow /abandonclaim for admins."
When trying to abandon a player's claim in /ic mode, you can't.

[2017-01-13 20:00] Rob5Underscores commented on #270
Issue resolved by mod author.

Cheers

[2017-01-13 20:00] #270 closed

[2017-01-13 20:09] Rob5Underscores commented on #288
Use /deleteclaim to delete claims as an administrator.

[2017-01-13 21:51] bloodmc commented on #283
@Eufranio OK it seems this is only an issue with newly created installs. I'll fix it soon.

[2017-01-13 22:03] #283 closed

[2017-01-14 13:47] i9hdkill opened #289 "Pistons bugging in admin claims (getting invisible/broken)"
Setup:
Fresh server, fresh perm files. SF 2032 gp 231
Create an admin claim.
Build this cool stuff:
http://prntscr.com/dviyiw

Use this flag to allow activating stone pressure plates for users:
collide-block.minecraft.stone_pressure_plate true

Now, if a non-owner and non-admin steps on the plate, the piston breaks and is invisible. You can only remove the broken piston with worldedit

If you remo

[2017-01-14 15:05] #279 closed

[2017-01-14 21:05] Eufranio opened #290 "Suggestion: range between claims"
Players can surround a claim creating other claims, and don't let us to expand. My suggestion is to add a option, so we can set the `griefpreventionr.range-between-claims` options.

[2017-01-14 21:37] Eufranio opened #291 "Trust won't allow people enter claim"
After trusting people (/trust <player>) they won't be able to enter the claim if `enter-claim` is false.

[2017-01-14 21:41] ghacproductions opened #292 "Managers can't untrust other other players on admin claims"
After a player is added as a manager via /permissiontrust, he is able to trust other players. However, he can't untrust them.

[2017-01-14 22:46] #292 closed

[2017-01-14 22:52] #291 closed

[2017-01-14 23:01] Slind14 commented on #279
Thank you.

[2017-01-15 01:07] ghacproductions opened #293 "Trusted players do not get saved on admin (sub-)claims"

[2017-01-15 01:09] #293 closed

[2017-01-15 10:50] Rob5Underscores opened #294 "GriefPrevention causes server startup times in excess of 10 minutes with over 1000 claims"
http://pastebin.com/Q5kC6tQu

Log above shows the timestamps of the world loading. You may notice its only taking 5 minutes, this is because on my test server modded dimensions aren't being loaded.

griefprevention-1.10.2-2.3.0.238 and spongeforge-1.10.2-2202-5.1.0-BETA-2026

Might be worth noting that the duration of time to load each dimension's claims is almost the same despite hugely varying n

[2017-01-15 14:48] bloodmc commented on #294
I tested with over 1300 claims and the server started up instantly. You are also using the wrong SF version, Update to latest.

[2017-01-15 17:20] Rob5Underscores commented on #294
Apologies.

Caused by PermissionsEx..

[2017-01-15 17:38] Rob5Underscores commented on #294
After some further testing, I have found that this issue happens when both GriefPrevention and PermissionsEX are being used. Does not happen when they are running alone.

@bloodmc can you repeat?

[2017-01-15 18:20] #289 closed

[2017-01-15 18:20] #294 closed

[2017-01-15 18:51] Rob5Underscores commented on #294
@bloodmc not fixed.

[2017-01-15 19:24] bloodmc commented on #294
Migrate to LuckPerms.

[2017-01-15 20:08] bloodmc commented on #294
Let me know if LP works.

[2017-01-15 20:14] Rob5Underscores commented on #294
LP does work but it is not an ideal solution for me to switch.

[2017-01-15 20:27] bloodmc commented on #294
@zml2008 I'm checking perms async during startup yet PEX seems to slow startup which tells me it isn't running async on your end. No issues with LP. How do you handle getPermissionValue if received off main thread?

[2017-01-16 23:06] zml2008 commented on #294
PEX should be fine dealing with async permissions checks -- could you do a ctrl+\ stack dump or (preferably) run with a profiler attached to your server? That would help determine where all this time is being spent.

My current guess is if you're setting things persistently, PEX is trying to save in between each permissions set. The Sponge permissions PR adds a method that allows performing bulk p

[2017-01-16 23:29] bloodmc commented on #294
@zml2008 I run the following code for player data on startup
https://github.com/MinecraftPortCentral/GriefPrevention/blob/master/src/me/ryanhamshire/griefprevention/GPPlayerData.java#L222

@Rob5Underscores Install warmroast and post a screenshot of where it hangs.
https://github.com/sk89q/WarmRoast

[2017-01-16 23:42] Rob5Underscores commented on #294
https://gyazo.com/c68a69083f4fc24e3ed47d6c138d4749
https://gyazo.com/832799f0235299b5577e55afeb11b75e

Hope I expanded it far enough.

[2017-01-17 16:20] Rob5Underscores commented on #294
@zml2008 @bloodmc

Apologies for bugging but is this something that I can expect a quick fix for or shall I migrate to luckperms?

[2017-01-17 17:30] lucko commented on #294
Seems that PEX is running i/o after each `#setPermission` call. I had huuge issues with this in LP.

It was solved by adding buffers.
https://github.com/lucko/LuckPerms/blob/master/sponge/src/main/java/me/lucko/luckperms/sponge/service/persisted/PersistedSubject.java#L95
https://github.com/lucko/LuckPerms/blob/master/common/src/main/java/me/lucko/luckperms/common/utils/BufferedRequest.java

Instea

[2017-01-17 19:32] zml2008 commented on #294
PEX also has a solution with the dirty flag -- that prevents redundant saves from occurring. Additionally. all operations in PEX are async anyays, so that shouldn't be holding back the server start.

[2017-01-17 19:40] zml2008 commented on #294
Also @Rob5Underscores could you provide your permissions file and GP config -- that would allow us to reproduce this locally and gather information more quickly.

[2017-01-17 20:04] bloodmc commented on #294
@Rob5Underscores Should be fixed in latest build as I now run this async. PEX still has to work on improving it on its end but at least this should be a bandaid fix for now.

[2017-01-17 20:21] Rob5Underscores commented on #294
@bloodmc That has reduced the loading time by a great deal!

There is still maybe ~15-20 seconds loading each world but vastly improved!

Many thanks

[2017-01-17 20:22] bloodmc commented on #294
@Rob5Underscores did you update PEX as well? zml made an improvement to memory backend. So test that too and report back results.

[2017-01-17 20:27] Rob5Underscores commented on #294
Just updated the PEX.

The overworld claims took about 30 seconds (longer than old build) but the DIM1 and DIM-1 were about 5 seconds each. This was just from one start up, so perhaps a false reading

[2017-01-17 20:30] bloodmc commented on #294
@Rob5Underscores Provide another profile screenshot as it loads overworld.

[2017-01-17 20:32] bloodmc commented on #294
Woops, I forgot to set options async. Let me do that then you can test with new GP.

[2017-01-17 20:35] bloodmc commented on #294
Test latest GP and see if that solves it.

[2017-01-17 21:17] Rob5Underscores commented on #294
Quite sure this is entirely resolved.

Many thanks!

[2017-01-18 13:18] cossacksman opened #295 "API Only Library"
Can we get a jar with just the interfaces included for the API so I can package our project with the API? I wouldn't want to just pull your API package into my project every time and it would make updating a lot easier.

[2017-01-18 19:50] Eufranio opened #296 "Dupe bug with creeper exploding stuff"
**Steps to reproduce:**

Create a claim
Explosions flag is false
Item-Spawn flag is false
Use /cfd
Wait a naturally creeper spawn or use /spawnmob by console
Make the creeper explode you near where a chest is

The items of the chest will be dropped, but the chest won't be broken. Dupped items. This doesn't work for players as you said earlier for me (because of the item-spawn flag), but it works f

[2017-01-18 22:45] Mohron opened #297 "[Feature][API] No Cost Basic Claim Admin Setting"
I'd like to request a Admin setting for claims to make a claim not subtract from a player's claim balance. Originally I was thinking of requesting exempting worlds from global player storage but this seems to be a better option. This would primarily be used by plugins so that claims managed by plugins can be free without adjusting a player's claim block balance on any resizes made (possibly creati

[2017-01-19 11:10] curscascis commented on #288
I know this works but the owner does not get his claim bocks back. Brought issue up with blood he told me to make the issue here.

[2017-01-20 02:02] Rasgnarok opened #298 "[Suggestion] /claimtransferall"
Handy solution when players have many, many claims that they just want to pass over to another user. Useful in the case of polis migration, where many end up with vast owned areas broken down in many basic claims.

[2017-01-20 15:53] ktole1999 opened #299 "Initial claim using chest/block"
Is there a way to turn this off? I only want players to claim using a claim tool.

[2017-01-20 22:14] Mohron commented on #297
I'd like to also add that the setting should not persist if the claim is resized, if resizing isn't already prevented, for obvious reasons.

[2017-01-20 22:32] Mohron commented on #298
I second this feature 👍

[2017-01-21 01:22] DeathVirus opened #300 "Flame bow bypasses projectile-impact-entity flag"
I'm trying to prevent players from killing the animals in the spawn zone, however with the flag /cf projectile-impact.entity minecraft:animal false, the arrow bounces off the animal but still does flame damage.
Other versions of the flag (/cf projectile-impact-entity minecraft:animal minecraft:arrow false) also failed.
entity-damage also could not prevent fire damage.

Upon further investigation,

[2017-01-21 01:41] DeathVirus commented on #300
Later discovered, preventing the usage of a bow (/cp interact-item-secondary minecraft:bow false) can also be bypassed by spam shooting (instantly releasing the arrow)

[2017-01-21 02:34] Mohron opened #301 "[API] Transfer Claim"
The API is currently unable to transfer a claim. Claim#transferClaim(UUID owner) would be really handy to have!

Thank you for your consideration!

[2017-01-21 02:45] Eufranio commented on #299
Yes, check your config.

[2017-01-21 02:47] Eufranio opened #302 "TNTs doesn't explode blocks but drops the items"
1. Create a claim and use /cfd
2. Go to outside of your claim and place a TNT near the border
3. Fire it. The blocks won't be broken but will drop the items.

[2017-01-21 03:47] inklit commented on #302
This happens with Plethora lasers too, as long as you set item-drop flag to true.

[2017-01-21 03:57] Eufranio commented on #302
So this is the same as https://github.com/MinecraftPortCentral/GriefPrevention/issues/296?

[2017-01-21 17:10] Eufranio opened #303 "Claim owner bypass interact-item-secondary flag override"
I have it overriden in all claims/wilderness, but I (owner of the claim) still able to use the item inside my claim.

[2017-01-23 05:43] inklit commented on #302
Yes it is

[2017-01-24 05:51] Eufranio opened #305 "Builder from RFTools can break protected areas"
The RFTools mods has a builder block, that can have a quarry upgrade, and then will mine a defined area, just like a quarry. The problem is that this builder breaks protected areas, such as GP claims (where you don't have permission). I can't attach logs here because I turned on the cause-tracker logger and the log is now 180MB, but you can reproduce it yourself:

1. Create a claim
2. Place a Buil

[2017-01-25 05:33] bloodmc commented on #296
This is not a GP issue but *should* be fixed in latest SF via commit

https://github.com/SpongePowered/SpongeCommon/commit/cdeebeab8e270a17209bd1e6ef65bd14f5913954

[2017-01-25 05:33] #296 closed

[2017-01-25 05:33] bloodmc commented on #302
This is not a GP issue but *should* be fixed in latest SF via commit

https://github.com/SpongePowered/SpongeCommon/commit/cdeebeab8e270a17209bd1e6ef65bd14f5913954

[2017-01-25 05:33] #302 closed

[2017-01-25 07:19] bloodmc commented on #300
I cannot reproduce this issue with a fresh claim (default flags). Please test again and provide exact steps on reproducing with a fresh setup.

[2017-01-27 02:57] Time6628 commented on #305
RFTools uses the [Minecraft] fake player for the builder.

[2017-01-27 09:20] Eufranio commented on #305
It still not respecting the owner rule and breaking where it shouldn't.

[2017-01-27 15:20] phit opened #306 "Builders can't access "pets" in claims"
I'd like a config option for this, turning off that whole pet system and that all mobs in a claim fall under the claim flags and not whoever "owns" the pet

people on my server are breeding chickens with the chicken mod and their basemates cant interact with them, so for example they can't kill the chickens
doesnt matter that their basemates have builder trust in the claim the chickens are in

[2017-01-27 17:08] Eufranio opened #307 "Psi break block spell dupping"
When we use a [Break Block spell](https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/spell/trick/block/PieceTrickBreakBlock.java) from Psi in a protected area, the block won't break, but will still drop it's items. Like, we break a chest, the items will drop but the chest won't be broken, dupping them.

[2017-01-28 19:27] Aaron1011 opened #308 "Add bStats support"
Many sponge plugins are now using [bStats](https://bstats.org/). From what I'm seen, it works extremely well, and would allow us to get a sense of the number of GP servers out there.

[2017-01-28 22:19] KhaozFrost opened #309 "GriefPrevention Subdivision Changing Y-Axis"
http://pastebin.com/uvzKidwp
I guess this is how to reproduce? It happens constantly but randomly..
Masterclaim is non-cuboid. but subclaims are cuboid. inheritance is off.
Server restarts or x amount of time has passed, (possibly reloads) and it changes the y-axis of the claim.
I dont exactly KNOW when the claim changes. i just happen to report a bug where claimflags keep vanishing, get told to c

[2017-01-29 02:08] #278 closed

[2017-01-29 02:08] #288 closed

[2017-01-29 02:08] #297 closed

[2017-01-29 02:08] #298 closed

[2017-01-29 02:08] #300 closed

[2017-01-29 02:08] #301 closed

[2017-01-29 02:08] #303 closed

[2017-01-29 02:08] #306 closed

[2017-01-29 02:54] Eufranio opened #310 "PlaceholderAPI support"
[PlaceholderAPI for Sponge](https://ore.spongepowered.org/rojo8399/PlaceholderAPI) is a new project that brings the one from bukkit to Sponge. With it, devs can provide plugin variables (placeholders) that will be available for all the other supported plugins to use. I would like that GP have support for it, then we could have placeholders and put them in Scoreboards, messages, holograms, GUIs, an

[2017-01-30 12:39] dualspiral commented on #310
I'd like to for Nucleus too, but right now, I recommend that you don't, because it's got a serious flaw in which I believe could be misused by the plugin owners and used for arbitrary code execution.

[2017-01-30 18:43] Mohron commented on #308
This is incredibly easy to implement. I have been using bStats in SkyClaims since early development. I was also able to add a custom Island count stat with almost no effort. It would be amazing to see how much usage GP has.